* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #fff;
}

/*--------------------------INDEX-----------------------*/
/*_____HERO____*/
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: url("../images/Desktop/hero.jpg") no-repeat center ;
  background-size: cover;
}

.header, .herotext {
  margin-right: 8%;
  margin-left: 8%;
}

.bckimg {
  justify-content: right;
  align-items: right;
  overflow: hidden;
  left: 35%;
  position: absolute;
  height: 100%;
  width: 100%;
}

.bckimg img {
  width: 80%;
  height: 100%;
  opacity: 0.7;
}

/*_____NAVBAR____*/
.navlistindex, .navlist {
  display: none;
}

.header {
  width: 100%;
}

.logo {
  top: 3%;
  position: absolute;
}

.logo a {
  cursor: pointer;
}

.logo img {
  height: auto;
  width: 7rem;
}

li {
  list-style: none;
}

.navlist a {
  color: #000;
  font: 1.6rem 'Libre Franklin', sans-serif;
  font-weight: 500;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navlistindex a {
  color: #000;
  font: 1.6rem 'Libre Franklin', sans-serif;
  font-weight: 500;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

#notactive {
  color: #5E5E5E;
}

/*_____BURGER____*/
.menu-wrap, .menu-wrapdark {
  position: absolute;
  top: 1.5%;
  left: 80%;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  opacity: 0;
}

.menu-wrapdark .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  opacity: 0;
}

.menu-wrap .hamburger, .menu-wrapdark .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: .2rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrapdark .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: .2rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: .2rem;
  background: inherit;
}

.menu-wrapdark .hamburger>div::before,
.menu-wrapdark .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: .2rem;
  background: inherit;
}

.menu-wrap .hamburger>div::after {
  top: 1rem;
}

.menu-wrapdark .hamburger>div::after {
  top: 1rem;
}

.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

.menu-wrapdark .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrapdark .toggler:checked+.hamburger>div:before,
.menu-wrapdark .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

.menu-wrapdark .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrapdark .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrapdark .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrapdark .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrapdark .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 99%;
  width: 200vw;
  height: 270vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrapdark .menu>div {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 99%;
  width: 200vw;
  height: 270vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrapdark .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  color: #fff;
  font: 2.5rem 'Lato', sans-serif;
  letter-spacing: .2rem;
  padding: 4rem;
}

.menu-wrapdark .menu>div>div>ul>li {
  list-style: none;
  color: #fff;
  font: 2.5rem 'Lato', sans-serif;
  letter-spacing: .2rem;
  padding: 4rem;
}

.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrapdark .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/*__________________HERO TEXT__________________*/
.herotext {
  text-align: left;
  height: 100%;
  position: relative;
  top: 30%;
  width: 100%;
}

.herotext h1 {
  font: 4.5rem 'Lato', cursive;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 1.5rem;
  font-weight: 900;
}

.herotext h2 {
  font: 1.8rem 'Libre Franklin', sans-serif;
  font-weight: 400;
  color: #232323;
  line-height: 3.5rem;
  position: absolute;
  top: 12%;
}

.herotext p {
  color: #232323;
  font: 1.8rem 'Libre Franklin', sans-serif;
  font-weight: 300;
  line-height: 3.5rem;
  font-weight: 300;
  position: absolute;
  top: 25%;
  padding-right: 10rem;
}

.herotext strong {
  font-weight: 800;
  letter-spacing: .05rem;
}

.cmbutton {
  background-color: #0C0C0C;
  border: .2rem solid #fff;
  padding: 1.5rem 2.5rem;
  color: #fff;
  font: 1.6rem 'Lato', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 45%;
}

.cmbutton:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

/*----------------------PROJECTS-----------------------*/
.portfolio_works {
  padding-top: 2rem;
  background-color: #fff;
}

/*
.sectionlabel {
  background-color: #B7CACE;
  margin: 2.5rem;
  padding: .01;
  align-items: center;
  align-content: center;
  vertical-align: middle;

}

.sectionlabel > div{
  vertical-align: middle;
  background-color: #fff;
  color: #000;
  font: 2rem 'Libre Franklin', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}*/
.project {
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
}

.viewcs {
  position: absolute;
  bottom: 0;
  padding: 2rem 4rem 0 0;
  background-color: #0C0C0C;
}

.viewcs h3 {
  font: 1.4rem 'Lato', sans-serif;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  align-content: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(15%, -50%);
}

.project img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.houndwatch img {
  width: 25%;
  height: auto;
  display: inline-flex;
}

.bytespace img {
  width: 70%;
  height: auto;
}

.houndwatch {
  background-color: rgb(62, 104, 197);
}

.bytespace {
  background-color: rgb(0, 118, 90);
}

.overlay {
  position: absolute;
  top: 0rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.hwoverlay {
  background-color: rgba(62, 104, 197, 0.90);
}

.bsoverlay {
  background-color: rgba(0, 118, 90, 0.90);
}

.houndwatch:hover .overlay {
  opacity: 1;
}

.bytespace:hover .overlay {
  opacity: 1;
}

.text {
  width: 80%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h3 {
  font: 2.5rem 'Libre Franklin', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 3rem;
  letter-spacing: .2rem;
}

.text p {
  font: 1.8rem 'Libre Franklin', sans-serif;
  font-weight: 300;
  padding-bottom: 5rem;
}

.pbutton {
  background-color: #fff;
  padding: 1.2rem 2rem;
  color: #000;
  font: 1.6rem 'Lato', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.pbutton:hover {
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}

/*----------FOOTER--------------*/
.footer {
  background-color: #fff;
  height: 10vh;
  position: relative;
}

.fcontainer {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footerlogo {
  padding-left: 2%;
  width: 25vw;
  display: flex;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 30%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -10%);
}

.footerlogo img {
  height: 4rem;
  width: auto;
  opacity: .9;
}

.footlist {
  width: 40vw;
  display: flex;
  top: 50%;
  left: 90%;
  -webkit-transform: translate(-10%, -0%);
  -ms-transform: translate(-10%, -0%);
  transform: translate(-10%, -0%);
}

.footlist ul {
  width: 100%;
  display: flex;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  -webkit-justify-content: space-around;
  -moz--justify-content: space-around;
  justify-content: space-around;
}

.footlist li {
  font: 1.4rem 'lato', sans-serif;
  letter-spacing: .12rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footlist a {
  color: #000;
  font: 1.2rem 'Rubik', sans-serif;
  letter-spacing: .12rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  height: 12vh;
  border: 0 none #000;
  border-top: 2px solid #000;
  border-radius: 0;
}

/*-----------------------CASE STUDY-----------------*/
.navlist {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  width: 100vw;
}

.bytespaceheader {
  width: 100vw;
}

.herotextcs {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  position: relative;
}

.herotextcs h1 {
  font: 7.5rem 'Lobster', cursive;
  color: #00765A;
  left: 50%;
  top: 8%;
  position: absolute;
  transform: translate(-50%, 0%);
}

.herotextcs p {
  font: 1.6rem/1.8 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  top: 30%;
  position: absolute;
  padding: 0 4rem;
}

.herotextcs>.bytespacecompimg {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%);
}

.bytespacecompimg img {
  height: auto;
  width: 30rem;
}

.herotextcs>.pbutton {
  left: 50%;
  top: 85%;
  position: absolute;
  transform: translate(-50%);
  cursor: pointer;
}

.herotextcs>a {
  color: #FF8C4D;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.protobutton {
  display: inline-block;
  border: none;
  border-radius: .3rem;
  background: rgba(233, 140, 0, .85);
  color: #fff;
  padding: 0.85rem 2.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  font: 1.2rem 'Rubik', sans-serif;
  font-weight: 400;
  letter-spacing: .2rem;
  cursor: pointer;
}

.protobutton:hover {
  opacity: 0.7;
}

/*_______ROLE____*/
.role-description {
  background-color: #E8F8F4;
  padding: 5rem 3rem 5rem 4.5rem;
}

.role-description h2 {
  font: 1.8rem 'Rubik', sans-serif;
  font-weight: 500;
  padding-bottom: 1.2rem;
  text-transform: uppercase;
}

.role-description p {
  font-family: "lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .1rem;
  padding-bottom: 4rem;
}

.year p {
  padding-bottom: 0;
}

.problem-solution, .research, .branding, .conclusion {
  margin: 0rem 3.3rem 0rem;
}

.mainsection {
  padding-top: 6rem;
}

.mainsection>h2 {
  overflow: hidden;
}

.mainsection>h2::after,
.mainsection>h3::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 1rem;
  border-top: .2rem solid #E98C00;
}

.mainsection p {
  font: 1.4rem/1.8 'Lato', sans-serif;
  font-weight: 400;
  padding-top: 2.5rem;
}

.mainsection h2 {
  color: #E98C00;
  font: 1.5rem 'Rubik', sans-serif;
  letter-spacing: .1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.mainsection h3 {
  color: #FF7A00;
  font: 1.4rem 'Rubik', sans-serif;
  letter-spacing: .1rem;
  font-weight: 400;
  padding-top: 5rem;
  text-transform: uppercase;
}

.mainsection img {
  height: auto;
  padding-top: 4rem;
  width: 100%;
}

.colors {
  padding-bottom: 8rem;
}

.conclusion {
  background-color: #E8F8F4;
  margin: 0;
  padding: 0rem 3.3rem 0rem;
}

.conclusion h2 {
  color: #000;
}

.conclusion h2::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 1rem;
  border-top: .2rem solid #000;
}

.conclusion p {
  line-height: 2.4rem;
  padding-bottom: 8rem;
}

/*****************About Me*************/
.aboutmeheader {
  width: 100vw;
  height: 90vh;
  left: 50%;
  text-align: center;
  align-items: center;
  transform: translate(-50%);
  position: relative;
}

.herotext_am h1 {
  color: #00765A;
  font: 8rem 'Lobster', cursive;
  left: 50%;
  top: 3%;
  transform: translate(-50%);
  position: absolute;
  width: 100vw;
}

.herotext_am img {
  border-radius: 50%;
  height: 26rem;
  width: 26rem;
  top: 20%;
  transform: translate(-50%);
  position: absolute;
}

.herotext_am p {
  font-family: 'Lato', sans-serif;
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  Padding: 3rem 4rem;
  text-align: center;
  top: 56%;
  transform: translate(0);
  position: absolute;
}

.orange {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #E98C00;
}

.biotext, .questions {
  padding: 4.5rem;
  width: 100vw;
}

.biotext {
  background-color: #E8F8F4;
  font-family: 'Lato', sans-serif;
  line-height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.questions h2 {
  color: #E98C00;
  font: 1.8rem/3.5rem 'Rubik', sans-serif;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
}

.questions p {
  font-family: 'Lato', sans-serif;
  line-height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 5rem;
}

/*____________________________MEDIA QUERIES__________________________*/
/*---------Mobile---------
*/
@media (min-width: 320px) and (max-width: 480px) {
  .navlistindex, .navlist, .overlay {
    display: none;
  }
}

/*---------Mobile Landscape---------*/
@media (min-width: 320px) and (max-width:812px) and (orientation: landscape) {
  .navlistindex, .navlist {
    display: none;
  }

  .herotext {
    top: 5%;
  }

  .herotext h1 {
    font-size: 3rem;
    padding-bottom: 1.2rem;
  }

  .herotext h2 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }

  .herotext p {
    font-size: 1.8rem;
    padding-bottom: 2.5rem;
  }

  .cmbutton {
    padding: 1rem 1rem;
    font-size: 1.2rem;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
*/
@media (min-width: 481px) and (max-width: 1024px) {
  .hero {
    height: 85vh;
  }

  .menu-wrap, .menu-wrapdark {
    display: none;
  }

  .logo {
    top: 10%;
  }

  .logo img {
    height: auto;
    width: 9rem;
  }

  .navlist, .navlistindex {
    width: 45%;
    position: absolute;
    top: 12.5%;
    left: 75%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    display: flex;
  }

  .navlist, .navlistindex a {
    font: 1.6rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  .herotext {
    top: 30%;
  }

  .herotext h1 {
    font-size: 8rem;
  }

  .herotext h2 {
    font-size: 2.5rem;
    top: 20%;
  }

  .herotext p {
    top: 32%;
    font-size: 2.5rem;
    padding-right: 10%;
  }

  .cmbutton {
    padding: 1.8rem 1.8rem;
    font-size: 1.8rem;
    top: 45%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .hero {
    height: 100vh;
  }

  .project img {
    height: 75%;
    width: auto;
  }

  .navlist, .navlistindex {
    width: 45%;
    position: absolute;
    top: 12.5%;
    left: 80%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    display: flex;
  }

  .navlist, .navlistindex a {
    font: 1.6rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
}

/*
  Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {

  .viewcs {
    display: none;
  }

  .overlay {
    display: display;
  }

  .navlist, .navlistindex {
    width: 25%;
    position: absolute;
    top: 15%;
    left: 83%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    display: flex;
  }

  .navlist, .navlistindex a {
    font: 1.6rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  .menu-wrap, .menu-wrapdark {
    display: none;
  }

  .hero {
    height: 100vh;
  }

  .logo {
    top: 12%;
  }

  .logo img {
    width: 10rem;
  }

  .navlist, .navlistindex a {
    font: 2rem 'Libre Franklin', sans-serif;
    letter-spacing: .15rem;
  }

  .herotext {
    top: 35%;
  }

  .herotext h1 {
    font-size: 10rem;
    font-weight: 900;
  }

  .herotext h2 {
    font-size: 2.8rem;
    top: 20%;
    padding-right: 45%;
    line-height: 1.5;
  }

  .herotext p {
    top: 35%;
    font-size: 2.8rem;
    margin-right: 20%;
    line-height: 1.5;
  }

  .cmbutton {
    padding: 1.8rem 1.8rem;
    font-size: 1.8rem;
    top: 50%;
  }

  .sectionlabel {
    margin-left: 15%;
    width: 20%;
  }

  .portfolio_works {
    width: 100%;
    display: flex;
    justify-content: space-between center;
    padding-top: 5%;
    padding-bottom: 10%;
  }

  .houndwatch {
    margin-right: 5rem;
  }

  .dark {
    display: none;
  }

  .footerlogo {
    padding-left: 1%;
    width: 25vw;
    display: flex;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-90%, 0%);
    -ms-transform: translate(-90%, 0%);
    transform: translate(-90%, 0%);
  }

  .footerlogo img {
    height: 4.5rem;
  }

  .footlist {
    width: 20vw;
    display: flex;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(70%, 50%);
    -ms-transform: translate(70%, 50%);
    transform: translate(70%, 50%);
  }

  .footlist a {
    color: #000;
    font-size: 1.6rem;
  }

  .footer {
    height: 12vh;
    border: 0 none #000;
    border-top: 2px solid #000;
    border-radius: 0;
  }

  .hero, .portfolio_works{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 1281px) {

  .viewcs {
    display: none;
  }

  .overlay {
    display: display;
  }

  .navlist, .navlistindex {
    width: 25%;
    position: absolute;
    top: 15%;
    left: 83%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    display: flex;
  }

  .navlist, .navlistindex a {
    font: 1.6rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  .menu-wrap, .menu-wrapdark {
    display: none;
  }

  .hero {
    height: 100vh;
  }

  .logo {
    top: 12%;
  }

  .logo img {
    width: 10rem;
  }

  .navlist, .navlistindex a {
    font: 2rem 'Libre Franklin', sans-serif;
    letter-spacing: .15rem;
  }

  .herotext {
    top: 35%;
  }

  .hero, .portfolio_works{
    padding-left: 5%;
    padding-right: 5%;
  }

  .herotext h1 {
    font-size: 10rem;
    font-weight: 900;
  }

  .herotext h2 {
    font-size: 2.8rem;
    top: 20%;
    padding-right: 45%;
    line-height: 1.5;
  }

  .herotext p {
    top: 35%;
    font-size: 2.8rem;
    margin-right: 20%;
    line-height: 1.5;
  }

  .cmbutton {
    padding: 1.8rem 1.8rem;
    font-size: 1.8rem;
    top: 50%;
  }

  .sectionlabel {
    margin-left: 15%;
    width: 20%;
  }

  .portfolio_works {
    width: 100%;
    display: flex;
    justify-content: space-between center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .houndwatch {
    margin-right: 5rem;
  }

  .dark {
    display: none;
  }

  .footerlogo {
    padding-left: 1%;
    width: 25vw;
    display: flex;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-90%, 0%);
    -ms-transform: translate(-90%, 0%);
    transform: translate(-90%, 0%);
  }

  .footerlogo img {
    height: 4.5rem;
  }

  .footlist {
    width: 20vw;
    display: flex;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(70%, 50%);
    -ms-transform: translate(70%, 50%);
    transform: translate(70%, 50%);
  }

  .footlist a {
    color: #000;
    font-size: 1.6rem;
  }

  .footer {
    height: 12vh;
    border: 0 none #000;
    border-top: 2px solid #000;
    border-radius: 0;
  }
}

/*---------About Me---------s

  .herotext_am h1{
    font-size: 6.5rem;
  }

  .aboutmeheader {
    width: 100vw;
    height: 100vh;
  }

  .herotext_am img {
    top: 19%;
    height: 23rem;
    width: 23rem;
  }

  .herotext_am p {
    top: 53%;
  }
}

/*-----------------------CASE STUDY-----------------*/
/* Smartphones (landscape) -----------
@media only screen and (min-width : 667px) and (min-height: 375px){
  .navlistindex , .navlist {
    display: none;
    }

  .aboutmeheader {
    width: 100vw;
    display: flex;
  }

  .herotext_am h1{
    font-size: 5rem;
    top: 2%;
  }

  .herotext_am img {
    float: left;
    left: 20%;
    top: 33%;
    height: 18rem;
    width: 18rem;
  }

  .herotext_am p {
    top: 22%;
    float: left;
    left: 30%;
    text-align: left;
  }

  /*-----------CASE STUDY-------
  .bytespaceheader {
    width: 100vw;
    height: 80vh;
  }

  .herotextcs h1 {
    font-size: 5.5rem;
    top: 0;
  }

  .herotextcs p {
    width: 100%;
    top: 25%;
    padding: 0;
  }

  .herotextcs > .bytespacecompimg {
  top: 40%;
}

  .bytespacecompimg img {
    height: auto;
    width: 20rem;
  }

  .herotextcs > .pbutton  {
    top: 82%;
  }

  .personas , .userstories , .lowfid_img, .highfid_img, .iterations_img{
    display: inline-flex;
    justify-content: space-around;
  }

  .admin{
    display: none;
  }

  .userflows{
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(5%);
  }

  .userflows img{
    width: 85%;
    align-items: center;
  }

  .lowfid_img img , .highfid_img img , .iterations_img img{
    width: 32%;
  }

  .typeface img{
    width: 85%;
    height: auto;
    padding-left: 20%;
  }
}





/* Smartphones (landscape) -----------
@media only screen and (min-width: 812px) and (min-height: 375px)
{
  .navlistindex , .navlist {
    display: none;
  }

  /*-----------CASE STUDY-------*
  .bytespaceheader {
    width: 100vw;
    height: 80vh;
  }

  .herotextcs h1 {
    font-size: 5.5rem;
    top: 0;
  }

  .herotextcs p {
    width: 100%;
    top: 25%;
    padding: 0;
  }

  .herotextcs > .bytespacecompimg {
  top: 40%;
}

  .bytespacecompimg img {
    height: auto;
    width: 20rem;
  }

  .herotextcs > .pbutton  {
    top: 82%;
  }
}


/*TABLETS*/
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px

@media only screen and (min-width: 768px){

  /*

  /******** Homepage *********
  .hero {
    height: 80vh;
  }

  .herotext {
    width: 100vw;
    height: 100vh;
  }

  .herotext h1 {
    font-size: 6rem;
    top: 10%;
  }

  .herotext h2 {
    font-size: 2.2rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
  }

  .herotext p {
    font-size: 2.2rem;
    padding: 0 3rem;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
  }

  .herotext > .pbutton{
    font-size: 2.3rem;
    top: 43%;
  }

  /*PROJECT SECTION
  .bytespace, .projectname, .projectname2 {
    width: 100vw;
    height: 35vh;
    position: relative;
  }

  .projectdescription img {
    width: 40vw;
    width: 34rem;
    height: auto;
    top: 30%;
    left: 55%;
    transform: translate(-10%, -20%);
    position: absolute;
  }

  .projectdescription h3 {
    width: 50vw;
    font-size: 2.2rem;
    text-align: left;
    top: 25%;
    Left: 15%;
    transform: translate(-17%, -25%);
    position: absolute;
    display: flex;
  }

  .projectdescription p {
    width: 42vw;
    font-size: 1.8rem;
    top: 56%;
    Left: 15%;
    transform: translate(-20%, -50%);
    position: absolute;
  }

  .projects button {
    top: 78%;
    Left: 16%;
    transform: translate(-40%, -30%);
    border-radius: .5rem;
    padding: 1rem 1.8rem;
    font-size: 1.8rem;
    position: absolute;
  }

  /******** Casestudy *********
  .bytespaceheader {
    height: 80vh;
    weight: 100vw;
  }

  .herotextcs h1 {
    top: 8%;
  }

  .herotextcs p {
    top: 25%;
    padding: 0 15rem;
  }

  .bytespacecompimg {
    top: 40%;
  }

  .bytespacecompimg img {
    height: auto;
    width: 38rem;
  }

  .bytespacecompimg {
    padding-bottom: 1rem;
  }

  .pbutton {
    top: 33%;
  }

  .protobutton {
    border-radius: .3rem;
    color: #fff;
    font: 1.4rem 'Rubik', sans-serif;
    font-weight: 400;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }

  .role-description {
    padding: 5rem 9rem;
  }

  .role-description h2 {
    font: 1.8rem "Rubik", sans-serif;
    font-weight: 500;
    padding-bottom: 2.4rem;
    text-transform: uppercase;
  }

  .role-description p {
    font: 1.6rem "lato", sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    padding-bottom: 4rem;
  }

  .year p {
    padding-bottom: 0;
  }

  .problem-solution, .research, .branding, .conclusion {
    margin: 0rem 9rem 0rem;
  }

  .mainsection {
    padding-top: 6rem;
  }

  .mainsection p {
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 3rem;
  }

  .mainsection h2 {
    font-size: 2rem;
  }

  .mainsection h3 {
    color: #5E5E5E;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 5rem;
    text-transform: uppercase;
  }

  .mainsection img {
    height: auto;
    vertical-align: middle;
    align-items: center;
    width: 100%;
  }

  .highfid_img , .iterations_img, .lowfid_img, .userstories, .personas {
    left: 50%;
    transform: translate(5%);
    width: 70vw;
    display: flex;
    justify-content: space-around;
  }
  .personas img {
    width: 28rem;
    height: 48rem;
  }

  .userstories img {
    width: 28rem;
    height: auto;
  }

  .userstories img:last-child {
    display: none;
  }

  .lowfid_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .lowfid_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .highfid_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .highfid_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .iterations_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .iterations_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .conclusion {
    background-color: #E8F8F4;
    margin: 0;
    padding: 0rem 9rem 0 9rem;
  }

  /******** About Me *********
  .aboutmeheader {
    height:45vh;
    width: 100vw;
  }

  .herotext_am img {
    float: left;
    left: 8%;
    top: 15%;
    height: 28rem;
    width: 26rem;
    transform: translate(0%);
    position: absolute;
  }

  .herotext_am h1 {
    width: 55vw;
    font-size: 6rem;
    padding-bottom: 3rem;
    top: 10%;
    left: 57%;
    transform: translate(-20%, -25%);
    text-align: left;
    position: absolute;
  }

  .herotext_am p {
    padding-bottom: 3rem;
    width: 55vw;
    padding: 0 5rem 0 0;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    right: 10%;
    left: 62%;
    top: 33%;
    transform: translate(-30%, -10%);
    line-height: 3rem;
    position: absolute;
  }

  .orange {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #E98C00;
  }

  .biotext, .questions {
    padding: 5rem;
  }

  .biotext {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .questions h2 {
    font-size: 2.8rem;
  }

  .questions p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .footer {
    height: 20rem;
  }

  .footerlogo{
    padding-top: 2.5rem;
  }

  .footerlogo img {
    height: 5rem;
    width: auto;
  }

  .footerlist {
    padding-top: 2.5rem;
  }

  .footerlist a {
    font-size: 1.6rem;
  }

  .fa-envelope , .fa-linkedin {
  font-size: 4rem;
}

}


@media only screen and (min-width: 667px) and (min-height:882px){
  .menu-wrap, .menu-wrapdark, .toggle-button {
    display: none;
  }

  .aboutmeheader {
    height:40vh;
    width: 100vw;
  }
}

/*
            tablet-landscape

@media only screen and (min-width: 882px) and (min-height: 768px) {
  .menu-wrap, .menu-wrapdark {
    display: none;
  }

  .logo {
    padding: 6rem 4rem;
  }

  .logo img {
    height: auto;
    width: 9rem;
  }

  .navlist, .navlistindex {
    width: 35%;
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-20%, -0%);
    justify-content: space-around;
    display: flex;
  }

  .navlist a {
    font-size: 1.8rem;
  }

  /******** Homepage **********
  .hero {
    height: 80vh;
  }

  .herotext {
    width: 100vw;
    height: 100vh;
  }

  .herotext h1 {
    font-size: 6rem;
    top: 10%;
  }

  .herotext h2 {
    font-size: 2.2rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
  }

  .herotext p {
    font-size: 2.2rem;
    padding: 0 3rem;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
  }

  .herotext > .pbutton{
    font-size: 2.3rem;
    top: 43%;
  }

  /*PROJECT SECTION
  .bytespace, .projectname, .projectname2 {
    width: 100vw;
    height: 35vh;
    position: relative;
  }

  .projectdescription img {
    width: 40vw;
    width: 34rem;
    height: auto;
    top: 30%;
    left: 55%;
    transform: translate(-10%, -20%);
    position: absolute;
  }

  .projectdescription h3 {
    width: 50vw;
    font-size: 2.2rem;
    text-align: left;
    top: 25%;
    Left: 15%;
    transform: translate(-17%, -25%);
    position: absolute;
    display: flex;
  }

  .projectdescription p {
    width: 42vw;
    font-size: 1.8rem;
    top: 56%;
    Left: 15%;
    transform: translate(-20%, -50%);
    position: absolute;
  }

  .projects button {
    top: 78%;
    Left: 16%;
    transform: translate(-40%, -30%);
    border-radius: .5rem;
    padding: 1rem 1.8rem;
    font-size: 1.8rem;
    position: absolute;
  }

  /******** Casestudy *********
  .bytespaceheader {
    height: 80vh;
    weight: 100vw;
  }

  .herotextcs h1 {
    top: 8%;
  }

  .herotextcs p {
    top: 25%;
    padding: 0 15rem;
  }

  .bytespacecompimg {
    top: 40%;
  }

  .bytespacecompimg img {
    height: auto;
    width: 38rem;
  }

  .bytespacecompimg {
    padding-bottom: 1rem;
  }

  .pbutton {
    top: 33%;
  }

  .protobutton {
    border-radius: .3rem;
    color: #fff;
    font: 1.4rem 'Rubik', sans-serif;
    font-weight: 400;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }

  .role-description {
    padding: 5rem 9rem;
  }

  .role-description h2 {
    font: 1.8rem "Rubik", sans-serif;
    font-weight: 500;
    padding-bottom: 2.4rem;
    text-transform: uppercase;
  }

  .role-description p {
    font: 1.6rem "lato", sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    padding-bottom: 4rem;
  }

  .year p {
    padding-bottom: 0;
  }

  .problem-solution, .research, .branding, .conclusion {
    margin: 0rem 9rem 0rem;
  }

  .mainsection {
    padding-top: 6rem;
  }

  .mainsection p {
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 3rem;
  }

  .mainsection h2 {
    font-size: 2rem;
  }

  .mainsection h3 {
    color: #5E5E5E;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 5rem;
    text-transform: uppercase;
  }

  .mainsection img {
    height: auto;
    vertical-align: middle;
    align-items: center;
    width: 100%;
  }

  .highfid_img , .iterations_img, .lowfid_img, .userstories, .personas {
    left: 50%;
    transform: translate(5%);
    width: 70vw;
    display: flex;
    justify-content: space-around;
  }
  .personas img {
    width: 28rem;
    height: 48rem;
  }

  .userstories img {
    width: 28rem;
    height: auto;
  }

  .userstories img:last-child {
    display: none;
  }

  .lowfid_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .lowfid_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .highfid_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .highfid_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .iterations_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .iterations_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .typeface img{
    padding-left: 10%;
  }

  .conclusion {
    background-color: #E8F8F4;
    margin: 0;
    padding: 0rem 9rem 0 9rem;
  }

  /******** About Me *********
  .aboutmeheader {
    height:45vh;
    width: 100vw;
  }

  .herotext_am img {
    float: left;
    left: 8%;
    top: 15%;
    height: 28rem;
    width: 26rem;
    transform: translate(0%);
    position: absolute;
  }

  .herotext_am h1 {
    width: 55vw;
    font-size: 6rem;
    padding-bottom: 3rem;
    top: 10%;
    left: 57%;
    transform: translate(-20%, -25%);
    text-align: left;
    position: absolute;
  }

  .herotext_am p {
    padding-bottom: 3rem;
    width: 55vw;
    padding: 0 5rem 0 0;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    right: 10%;
    left: 62%;
    top: 33%;
    transform: translate(-30%, -10%);
    line-height: 3rem;
    position: absolute;
  }

  .orange {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #E98C00;
  }

  .biotext, .questions {
    padding: 5rem;
  }

  .biotext {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .questions h2 {
    font-size: 2.8rem;
  }

  .questions p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .footer {
    height: 20rem;
  }

  .footerlogo{
    padding-top: 2.5rem;
  }

  .footerlogo img {
    height: 5rem;
    width: auto;
  }

  .footerlist {
    padding-top: 2.5rem;
  }

  .footerlist a {
    font-size: 1.6rem;
  }

  .fa-envelope , .fa-linkedin {
  font-size: 4rem;
  }
}


/*
            Device = Desktops


@media only screen and (min-width: 1224px){
  .menu-wrap, .menu-wrapdark {
    display: none;
  }

  .logo {
    padding: 7rem 5rem;
  }

  .logo img {
    height: auto;
    width: 10rem;
  }

  .navlist, .navlistindex {
    width: 35%;
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-20%, -0%);
    justify-content: space-around;
    display: flex;
  }

  .navlist a {
    font-size: 1.8rem;
  }

  /******** Homepage *********
  .herotext {
    width: 100vw;
  }

  .herotext h1 {
    font-size: 9rem;
    top: 5%;
  }

  .herotext h2 {
    font-size: 2.8rem;
    top: 25%;
    text-shadow: 0 0 15px black;
    left:50%;
    transform: translate(-50%);
  }

  .herotext p {
    font-size: 2.5rem;
    padding: 0 3rem;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
  }

  .pbutton{
    font-size: 2.3rem;
    top: 43%;
  }

  /*PROJECT SECTION*
  .bytespace, .projectname, .projectname2 {
    width: 100vw;
    height: 40vh;
    position: relative;
  }

  .projectdescription img {
    width: 40rem;
    height: auto;
    top: 30%;
    left: 65%;
    transform: translate(-10%, -20%);
    position: absolute;
  }

  .projectdescription h3 {
    width: 50vw;
    font-size: 2.6rem;
    text-align: left;
    top: 25%;
    Left: 20%;
    transform: translate(-17%, -25%);
    position: absolute;
    display: flex;
  }

  .projectdescription p {
    width: 42vw;
    font-size: 2rem;
    top: 53%;
    Left: 20%;
    transform: translate(-20%, -50%);
    position: absolute;
  }

  .projects button{
    top: 78%;
    Left: 16%;
    transform: translate(-40%,0);
    border-radius: .5rem;
    padding: 1rem 1.8rem;
    font-size: 1.8rem;
    position: absolute;
  }

  .footerlogo img {
    opacity: 0.5;
  }

  .bytespaceheader {
    height: 80vh;
    weight: 100vw;
  }

  .herotextcs h1{
    top: 5%;
    font-size: 9rem;
  }

  .herotextcs p {
    font-size: 2.5rem;
    top: 30%;
    padding: 0 15rem;
  }

  .herotextcs > .bytespacecompimg  {
    top: 45%;
  }

  .bytespacecompimg img {
    height: auto;
    width: 38rem;
  }

  .bytespacecompimg {
    padding-bottom: 1rem;
  }

  .pbutton {
    top: 33%;
  }

  .protobutton {
    border-radius: .3rem;
    color: #fff;
    font: 1.4rem 'Rubik', sans-serif;
    font-weight: 400;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }

  .role-description {
    padding: 8rem 18rem;
  }

  .role-description h2 {
    font: 2.2rem "Rubik", sans-serif;
    font-weight: 500;
    padding-bottom: 2.4rem;
    text-transform: uppercase;
  }

  .role-description p {
    font: 1.8rem "lato", sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    padding-bottom: 4rem;
  }

  .year p {
    padding-bottom: 0;
  }

  .problem-solution, .research, .branding, .conclusion {
    margin: 0rem 18rem 0rem;
  }

  .mainsection {
    padding-top: 8rem;
  }

  .mainsection p {
    line-height: 3rem;
    font-size: 1.8rem;
    font-weight: 400;
    padding-top: 3rem;
  }

  .mainsection h2 {
    font-size: 2.2rem;
  }

  .mainsection h3 {
    color: #5E5E5E;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 5rem;
    text-transform: uppercase;
  }

  .mainsection img {
    height: auto;
    vertical-align: middle;
    align-items: center;
    width: 80%;
    padding-bottom: 5rem;
  }

  .highfid_img , .iterations_img, .lowfid_img, .userstories, .personas, {
    left: 50%;
    transform: translate(0%);
    width: 75vw;
    display: flex;
    justify-content: space-around;
  }

  .researchdata img{
    left: 50%;
    transform: translate(25%);
    width: 65%;
    height: auto;
  }

  .researchdata img:nth-child(1) {
    padding: 10rem;
  }

  .userflows img{
    left: 50%;
    transform: translate(15%);
    width: 65%;
    height: auto;
  }

  .userflows img:nth-child(1) {
    padding: 5rem;
    width: 60%;
    height: auto;
  }

  .sketches img{
    left: 50%;
    transform: translate(8%);
    width: 85%;
    height: auto;
  }

  .personas img {
    width: 40rem;
    height: 65rem;
  }

  .userstories img {
    width: 40rem;
    height: auto;
  }

  .userstories img:last-child {
    display: none;
  }

  .lowfid_img img {
    width: 30rem;
    height: 65rem;
    padding-right: 1rem;
  }

  .lowfid_img img:last-child {
    width: 30rem;
    height: 45rem;
  }

  .highfid_img img {
    width: 30rem;
    height: 65rem;
    padding-right: 1rem;
  }

  .highfid_img img:last-child {
    width: 30rem;
    height: 45rem;
  }

  .iterations_img img {
    width: 30rem;
    height: 65rem;
    padding-right: 1rem;
  }

  .iterations_img img:last-child {
    width: 30rem;
    height: 45rem;
  }

  .typeface img {
    align-items: center;
    left: 50%;
    transform: translate(35%);
    width: 70rem;
    height: auto;
  }

  .colors img {
    align-items: center;
    left: 50%;
    transform: translate(45%);
    width: 70rem;
    height: auto;
  }

  .conclusion {
    background-color: #E8F8F4;
    margin: 0;
    padding: 0rem 9rem 0 9rem;
  }

  /******** About Me *********
  .aboutmeheader {
    height:55vh;
    width: 100vw;
  }

  .herotext_am img {
    float: left;
    left: 12%;
    top: 25%;
    height: 30rem;
    width: 30rem;
    transform: translate(0%);
    position: absolute;
  }

  .herotext_am h1 {
    width: 55vw;
    font-size: 7.5rem;
    padding-bottom: 3rem;
    top: 15%;
    left: 53%;
    transform: translate(-20%, -25%);
    text-align: left;
    position: absolute;
  }

  .herotext_am p {
    padding-bottom: 3rem;
    width: 55vw;
    padding: 0 5rem 0 0;
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    width: 50vw;
    left: 58%;
    top: 40%;
    transform: translate(-30%, -10%);
    line-height: 3rem;
    position: absolute;
  }

  .orange {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #E98C00;
  }

  .biotext, .questions {
    padding: 8rem 12rem;
  }

  .biotext {
    height: 35vh;
    font-size: 1.8rem;
    line-height: 3.5rem;
  }

  .questions h2 {
    font-size: 2.8rem;
    padding-bottom: 4rem;
  }

  .questions p {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .footer {
    height: 25rem;
  }

  .footerlogo{
    padding-top: 3.5rem;
  }

  .footerlogo img {
    height: 6rem;
    width: auto;
  }

  .footerlist {
    padding-top:4rem;
  }

  .footerlist a {
    font-size: 1.6rem;
  }

  .fa-envelope , .fa-linkedin {
  font-size: 5rem;
}

}
