* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  list-style: none;
  text-decoration: none;
}

/*---Headings*/
h1 {
  font: 5rem 'Lato', cursive;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 900;
}

h2 {
  font: 3rem 'Libre Franklin', sans-serif;
  font-weight: 400;
  color: #232323;
}

h3 {
  font: 2.5rem 'Libre Franklin', sans-serif;
  font-weight: 400;
  color: #232323;
}

p {
  font: 1.8rem 'Libre Franklin', sans-serif;
  font-weight: 300;
  color: #232323;
  line-height: 3.5rem;
}

/*----------------Home Page-----------------------*/
.container {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}

/*_____HERO____*/
.hero {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(to bottom, rgba(256, 257, 256, .83), rgba(226, 197, 177, 0.20)), url("../images/Desktop/heroimg.png") no-repeat center;
  background-size: cover;
}

/*_____NAVBAR____*/
/* header */
.nav {
  background-color: transparent ;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.white_nav{ background-color:#fff;

}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.nav li a {
  font: 1.4rem 'Libre Franklin', cursive;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 400;
  display: block;
  padding: 2rem 2rem;
  text-decoration: none;
}

.nav .logo {
  display: block;
  float: left;
  padding: 3.5% 8%;
  text-decoration: none;
}

.nav img {
  width: 14vw;
  height: auto;
}

/* menu */
.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 8% 5%;
  position: relative;
  user-select: none;
}

.nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: .2rem;
  position: relative;
  transition: background .2s ease-out;
  width: 6.5vw;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav .menu-icon .navicon:before {
  top: .5rem;
}

.nav .menu-icon .navicon:after {
  top: -.5rem;
}

/* menu btn */
.nav .menu-btn {
  display: none;
}

.nav .menu-btn:checked~.menu {
  max-height: 24rem;
}

.nav .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.nav .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*_HERO TEXT_*/
.herotext {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40% 10%;
  width: 90vw;
}

article h1 {
  width: 100vw;
}

article p {
  padding-top: 4vh;
  color: #232323;
  font-weight: 300;
  line-height: 3.5rem;
  font-weight: 300;
}

strong {
  font: 1.9rem 'Libre Franklin', sans-serif;
  font-weight: 800;
  letter-spacing: .05rem;
}

article>p:first-child {
  padding-bottom: 0;
}

article>p:nth-child(3) {
  padding-bottom: 7vh;
}

.cmbutton {
  width: 5vw;
  background-color: #232323;
  border: .2rem solid #fff;
  padding: 4.5% 6%;
  color: #fff;
  font: 1.6rem 'Lato', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.cmbutton:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

/*----PROJECTS------*/
.portfolio_works {
  padding-top: 5%;
}

.project {
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  margin-bottom: 5%;
  cursor: pointer;
}

.viewcs {
  float: left;
  bottom: 0;
  position: absolute;
  padding: 1.5rem 2rem;
  background-color: #0C0C0C;
}

.viewcs h3 {
  text-align: center;
  font: 1.4rem 'Lato', sans-serif;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.project img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.houndwatch img {
  max-height: 70%;
  width: auto;
  overflow: hidden;
}

.bytespace img {
  max-width: 85%;
  max-height: 65%;
  overflow: hidden;
}

.houndwatch {
  background-color: rgb(62, 104, 197);
  cursor: pointer;
}

.bytespace {
  background-color: rgb(0, 118, 90);
  cursor: pointer;
}

/*----------FOOTER--------------*/

.fcontainer {
  height: 10vh;
  width: 100%
  background-color: #F2F2F2;
  border-top: .15rem solid rgba(48,48,48, .5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.footerlogo{
  float: left;
  padding-right: 20%;
}

.footerlogo img{
  height: 5vh;
}

.footlist{
  float: right;
  right: 0;
}

.footlist ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footlist li{
  padding-left: 1rem;
}
.footlist li a{
  color: #000;
  font: 1.2rem ' Lato', sans-serif;
  letter-spacing: .12rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}



/*-----------CASE STUDY: ByteSpace-----------------*/
.casestudyhero {
  width: 100vw;
  height: 80vh;
}

.herotextcs {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.herotextcs article h1 {
  padding-top: 30%;
  font: 6.5rem 'Lobster', cursive;
  text-transform: none;
  color: #00765A;
}

.herotextcs p {
  padding: 4rem 5rem;
  font: 1.8rem/1.9 'Lato', sans-serif;
  font-weight: 400;
}

.bytespacecompimg {
  padding-bottom: 4.5rem;
}

.bytespacecompimg img{
  height: auto;
  max-width: 80%;
}

.csbutton {
  background-color: #0C0C0C;
  border: .2rem solid #fff;
  padding: 1rem 2rem;
  color: #fff;
  font: 1.2rem 'Lato', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

/*_______ROLE____*/
.role-description {
  background-color: #E2F3EF;
  padding: 2rem 3rem;
}

.role-description h2 {
  font: 1.6rem 'Lato', sans-serif;
  font-weight: 600;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.role-description p {
  font: 1.4rem "Libre Franklin", sans-serif;
  font-weight: 400;
  letter-spacing: .1rem;
  padding-bottom: 2.5rem;
}

.year p {
  padding-bottom: 0;
}

/*-------Sections------*/
.problem-solution, .research, .branding, .conclusion {
  position: relative;
}

.researchdata {
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #F5F5F5;
}

 .surveydata {
  height: 100%;
  padding: 1rem 0;

}

.surveydata tr {
  padding: .5rem;
  width: 50%;
}

.surveydata>table td:first-child {
  color: #00765A;
  font-size: 2rem;
  font-weight: 500;
}

td {
  text-emphasis: left;
  padding: 1rem;
  font: 1.4rem 'Libre Franklin', sans-serif;
}

.chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.chart h1 {
  margin-top: 2%;
  padding-top: 5rem;
  align-self: center;
  text-align: center;
  width: 100%;
  color: #000;
  padding-bottom: 1rem;
  font: 1.4rem 'Libre Franklin', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

canvas {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.mainsection {
  padding-top: 3%;
}

.mainsection p {
  padding: 2rem 3rem;
}

.mainsection>h2 {
  overflow: hidden;
}

.projectsectionlabel {
  background-color: #232323;
  padding: 4.5%;
  height: 5%;
  width: 40%;
  margin-top: 1%;
  position: relative;
}

.projectsectionlabel h2 {
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font: 2rem 'Libre Franklin', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.mainsection p {
  font: 1.4rem/1.8 'Lato', sans-serif;
  font-weight: 400;
  padding-top: 2.5rem;
}

.mainsection h2 {
  color: #FFF;
  font: 1.5rem 'Lato', sans-serif;
  letter-spacing: .1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.subsectionlabel {
  background-color: #C97900;
  padding: 4.5%;
  height: 3%;
  width: 30%;
  position: relative;
}

.subsectionlabel h3 {
  width: 100%;
  color: #fff;
  font: 1.4rem/10 'Libre Franklin', sans-serif;
  font-weight: 400;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/*swot analysis*/
.swottable {
  height: 52rem;
  background-color: #F5F5F5;
}

.swottable h2 {
  padding: 3rem;
  width: 40%;
  font: 2.2rem "Lato", sans-serif;
  line-height: 1.5;
  color: #000;
}

.swottable table {
  padding-left: 3rem;
  align-self: center;
  width: 97%;
  font: .5rem "Lato", sans-serif;
  font-weight: 400;
  color: #232323;
  text-align: center;
}

.swottable table td:first-child,
.swottable table tr:first-child td {
  font: 1.1rem "Lato", sans-serif;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.swottable table td:first-child {
  text-align: right;
}

/*Personas*/
.personas {
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  align-items: center;
  align-self: center;
  background-color: #F5F5F5;
}

.userdetails{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center space-between;
  height: 100%;
}

.user1, .user2 {
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.userimg {
  width: 40%;
  float: left;
}

.userimg img {
  height: 18vh;
}

.userinfo {
  float: right;
  width: 60%;
  font-family: "Lato", sans serif;
  padding-top: 10%;
}

.userinfo h2 {
  color: #008080;
  text-transform: none;
  font: 1.6rem "Lato", sans serif;
  font-weight: 600;
  padding-bottom: .5rem;
}

.userinfo h3{
font: 1.6rem "Lato", sans serif;
line-height: 2rem;
}

.userinfo strong {
  font-weight: 600;
  font-size: 1.4rem;
}

.userbio {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5% 2%;

}

.bio {
  background-color: rgba(0, 128, 128, .1);
  border-radius: 5%;
}

.bio h3,
.usergoals h3 {
  font: 1.5rem "Lato", sans serif;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 1.5rem;
  padding-left: 3rem;
}

.bio p {
  font: 1.4rem "Libre Franklin", sans serif;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 1.2rem;
}

.usergoals {
  margin-top: 2rem;
  height: 50%;
  background-color: rgba(0, 128, 128, .1);
  border-radius: 5%;
}

.usergoals li {
  list-style-type: circle;
  font: 1.4rem "Libre Franklin", sans serif;
  padding-left: .5rem;
}

.usergoals ul {
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*user stories*/
.us_link a {
  color: #E59848;
  font-size: inherit;
  text-decoration: none;
}

.us_link a:hover,
.us_link a:visited, {
  color: #00688B;
  font-size: inherit;
}

.us_link a:hover {
  color: #00688B;
  font-size: inherit;
}

/*userflows*/
.userflows {
  width: 100%;
  height: 18rem;
  background: url("../images/CaseStudy/ByteSpace/userflowimg.png") no-repeat center;
  background-size: contain;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*sketches*/
.bytespacesketches {
  width: 100%;
  height: 20rem;
  background: url("../images/CaseStudy/ByteSpace/BS Sketches.png") no-repeat center;
  background-size: contain;
  margin-bottom: 0rem;
}

.lowfid_img {
  width: 100%;
  height: 31rem;
  background: url("../images/CaseStudy/ByteSpace/wireframes.png") no-repeat center;
  background-size: contain;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.highfid_img {
  width: 100%;
  height: 33rem;
  background: url("../images/CaseStudy/ByteSpace/BS HF.png") no-repeat center;
  background-size: contain;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.iterations_img {
  width: 100%;
  height: 33rem;
  background: url("../images/CaseStudy/ByteSpace/BSit.png") no-repeat center;
  background-size: contain;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.typeface {
  height: 40%;
}

.typeface img {
  width: 90vw;
  padding-top: 4rem;
  padding-left: 4rem;
  margin: 0;
  justify-content: center;
  align-items: center;
}

/*.colors*/

.color-list {
  padding: 5% 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.color {
  flex: 0%;
  /*flex-grow | flex-shrink | flex-basis*/
  background-color: #424242;
  padding: 1em;
  color: white;
}

.color:hover {
  flex-basis: 40%;
}
.color:hover .details {
  opacity: 1;
}

.name {
  font-size: 1.4rem;
  font-weight: 500;
}

.details {
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.details li {
  line-height: 2em;
}

#hippiegreen {
  background-color: #488B49;
}

#corduroy {
  background-color: #6E7271;
}

#norway {
  background-color: #ABC4A1;
}

#twilight {
  background-color: #E7D6DA;
}

#mercury {
  background-color: #E2E2E2;
}

/*------*/
.conclusion .content {
  background-color: #F5F5F5;
}

.conclusion h2 {
  color: #fff;
}

.conclusion p {
  line-height: 2.4rem;
}

/*****************About Me*************/
.aboutmeheader {
  width: 100vw;
  height: 90vh;
  left: 50%;
  text-align: center;
  align-items: center;
  transform: translate(-50%);
  position: relative;
}

.herotext_am h1 {
  color: #00765A;
  font: 8rem 'Lobster', cursive;
  left: 50%;
  top: 3%;
  transform: translate(-50%);
  position: absolute;
  width: 100vw;
}

.herotext_am img {
  border-radius: 50%;
  height: 26rem;
  width: 26rem;
  top: 20%;
  transform: translate(-50%);
  position: absolute;
}

.herotext_am p {
  font-family: 'Lato', sans-serif;
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  Padding: 3rem 4rem;
  text-align: center;
  top: 56%;
  transform: translate(0);
  position: absolute;
}

.orange {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #E98C00;
}

.biotext, .questions {
  padding: 4.5rem;
  width: 100vw;
}

.biotext {
  background-color: #E8F8F4;
  font-family: 'Lato', sans-serif;
  line-height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.questions h2 {
  color: #E98C00;
  font: 1.8rem/3.5rem ' Lato', sans-serif;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
}

.questions p {
  font-family: 'Lato', sans-serif;
  line-height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 5rem;
}

/*____________________________MEDIA QUERIES__________________________*/
/*---------Mobile---------
*/
@media (min-width: 0px) and (orientation: landscape)  {
   .sectionlabel{
    display: none;
  }
}


/*---------Mobile Landscape---------*/
@media (min-width:375px)
 and (orientation: landscape) {

  .hero{
    height: 100vh;
  }

  .nav .logo {
    padding: 1% 5%;
  }

  .nav .menu-icon {
      padding: 5% 4%;
  }

  .nav .menu-icon .navicon {
    width: 5vw;
  }

.sectionlabel {
    display: none;
  }

  .logo img {
    height: auto;
    width: 8vw;
  }

.nav .logo {
    padding: 2% 8%;

}
  .menu {
    width: 100%;
  }

  .menu li {
    width: 100%;
  }

  .menu li a {
    width: 40%;
    font-size: 1.2rem;
  }

  .herotext{
    padding: 28vh 8vw;
  }

  article h1 {
    font-size: 3.5rem;
  }

  article p {
    padding-top: 2vh;
    font-size: 1.5rem;
  }

  article strong {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .fcontainer{
    padding-top: 5%;
  }
    .footerlogo img{
      height: 9vh;
    }

.footerlogo{
  padding-right: 50%;
}

  .cmbutton {
      padding: 2% 3%;
      font-size: 1.2rem;
  }

  /*------/\/\/\/bytespace\/\/\/\/\/------*/

  .herotextcs article h1 {
    padding-top: 12%;
    padding-bottom: 1.5rem;
    font-size: 4rem;
  }

  .bytespacecompimg {
    padding-bottom: 3.5rem;
  }

  .bytespacecompimg img {
    width: 25vw;
    height: auto;
    flex-direction: row;
  }

  .herotextcs article p {
    padding-top: 0;
    font-size: 1.4rem;
    padding-bottom: 2rem;
  }

  .csbutton {
    padding: .8rem 1.8rem;
    font-size: 1.2rem;
  }

  /*research data*/
  .chart {
    width: 70vw;
    margin-left: 15%;
  }

  /*userflows*/
  .userflows {
    height: 26rem;
  }


  .userimg {
    width: 12%;
  }

  .userinfo{
    padding: 0;
    width: 60%;
    float: none;
    padding-left: 15%;
  }


  /*sketches*/
  .bytespacesketches {
    height: 35rem;
  }

  .lowfid_img {
    width: 75%;
    height: 38rem;
    left: 25%;
    transform: translateX(15%);
  }

  .highfid_img {
    width: 75%;
    height: 38rem;
    left: 25%;
    transform: translateX(15%);
  }

  .iterations_img {
    width: 65%;
    height: 38rem;
    left: 25%;
    transform: translateX(20%);
  }

  /*typeface*/
  .typeface img {
    width: 70vw;
    left: 25%;
    transform: translateX(15%);
  }

  .typeface{
    height: 20%;
  }

  /*Color Palette*/
  .colorpalette h3 {
    transform: translate(-20%, 100%)
  }

  footer {
    margin-bottom: 3rem;
  }
}

/*_____------------_Grid Layout_-----------______*/
/* ##Device = Tablets, Ipads ---- Landscape */
@media only screen and (min-device-width: 812px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2){

  .hero{
    height: 80vh;
  }

  .nav .logo {
    padding: 1% 5%;
  }

  .nav .menu-icon {
    padding: 4% 4%;
  }

  .nav .menu-icon .navicon {
    width: 4vw;
  }

  .logo img {
    padding: 1rem;
    height: auto;
    width: 8rem;
  }

  .herotext{
    padding: 28vh 7vw;
  }

  article h1 {
    font-size: 5rem;
  }

  article p {
    padding-top: 2vh;
    font-size: 1.5rem;
  }

  article strong {
    font-size: 1.6rem;
    font-weight: 600;
  }


  .cmbutton {
      padding: 2% 3%;
      font-size: 1.2rem;
  }

  .sectionlabel {
    background-color: #232323;
    padding: 2.5% 2.5%;
    width: 30%;
    display: block;
    position: relative;
    margin-top: 5%;
  }

  .sectionlabel h1 {
    vertical-align: middle;
    color: #fff;
    font: 2rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .portfolio_works{
    display: flex;
    flex-direction: row;
    margin: 0 5% 5% 5%;
    justify-content: space-between;
  }

  .project{
    margin: 2%;
  }

  .footerlogo img{
    height: 6vh;
  }

  .footerlogo{
    padding-right: 50%;
  }

  .footlist li{
    padding: 2rem;
    }

  /*----------bytespace------*/

  .herotextcs article h1 {
    font-size: 8rem;
    padding-bottom: 2.5rem;
  }

  .herotextcs article p {
    font-size: 2rem;
    padding-bottom: 4rem;
  }

  .bytespacecompimg {
    padding-bottom: 7rem;
  }

  .bytespacecompimg img {
    width: 40vw;
  }

  .role-description {
    padding: 4rem 8rem;
  }

  .role-description h2 {
    font-size: 2.2rem;
    padding-bottom: 2rem;
  }

  .role-description p {
    font-size: 1.8rem;
  }

  .mainsection p {
    font-size: 1.8rem;
    padding: 2rem 8rem;
  }

  .projectsectionlabel {
    padding: 2.5%;
    width: 25%;
  }

  .projectsectionlabel h2{
    font-size: 1.8rem;
    weight: 600;
    letter-spacing: .2rem;
  }

  .subsectionlabel{
    padding: 2%;
    width: 15%;
    margin-top: 5%;
  }

  .subsectionlabel h3{
    font-size: 1.6rem;
    letter-spacing: .1rem;
  }

  .researchdata {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .surveydata {
    width: 100%;
    margin-left: 5%;
  }

  .chart {
    width: 60%;
    margin: 0;
  }

  #personas {
    height: 100%;
    display: flex;
    flex-direction: row;
    .background-color: #f5f5f5;
  }

  .personas{
    height: 55rem;
  }

  .userimg{
    width: 30%;
  }

  .userinfo{
    width: 85%;
    padding-left: 35%;
    padding-top: 10%
  }

  .userinfo h2{
    font-size: 1.8rem;
  }


  /*wireframes*/
  .userflows {
    height: 40rem;
  }

  /*sketches*/
  .bytespacesketches {
    width: 100%;
    height: 58rem;
    margin-top: 4rem;
  }

  .lowfid_img {
    width: 85%;
    height: 70rem;
    left: 25%;
    transform: translateX(10%);
  }

  .highfid_img {
    width: 85%;
    height: 70rem;
    left: 25%;
    transform: translateX(10%);
  }

  .iterations_img {
    width: 85%;
    height: 70rem;
    left: 25%;
    transform: translateX(10%);
  }

  /*typeface*/
  .typeface img {
    width: 50vw;
    left: 50%;
    transform: translateX(50%);
  }

  .conclusion p{
    line-height: 3rem;
  }



}

/* tablet - Portrait*/
@media only screen and (min-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){
  .sectionlabel {
    display: none;
  }

  .hero{
    height: 70vh;
  }
  .herotext {s
  padding-top:  30%;
  }

  .nav .logo{
    padding: 2% 10%;

  }


  article h1 {
    font-size: 5rem;
  }

  article p {
    padding-top: 3vh;
    font-size: 1.8rem;
  }

  article strong {
    font-size: 1.9rem;
    font-weight: 600;
  }

  .cmbutton {
      padding: 2.5% 4%;
      font-size: 1.4rem;
  }

  .nav img {
    max-width: 8vw;
  }

  .nav .menu-icon {
    padding: 4% 5%;
  }

  .nav .menu-icon .navicon {
    width: 4vw;
  }


  .fcontainer{
    height: 8vh;
  }

  .footerlogo{
    padding-right: 45%;
  }

  .sectionlabel {
    background-color: #232323;
    padding: 2.5% 2.5%;
    width: 30%;
    display: block;
    position: relative;
    margin-top: 5%;
  }

  .sectionlabel h1 {
    vertical-align: middle;
    color: #fff;
    font: 1.8rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .portfolio_works{
    display: flex;
    flex-direction: row;
    margin: 0 5% 5% 5%;
    justify-content: space-between;
  }

  .project{
    margin: 2%;
    height: 35vh;
  }


  /*----------bytespace------*/
  .bytespacecontainer{
    width: 100vw;
  }

  .casestudyhero {
    height: 70vh;
}

.herotextcs article h1 {
  padding-top: 15%;
}

.herotextcs p {
  padding: 3rem 5rem;
}

.bytespacecompimg img{
  height: auto;
  max-width: 40%;
}

  .role-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4rem 0rem;
    justify-content: center;
    justify-content: space-around;
  }

  .role-description div {
    width: 150%;
    margin-left: 12%;
  }

  .role-description p {
    width: 85%;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5rem;
  }

  .content p {
    position: relative;
    padding: 0 5rem;
    margin-left: 20%;
  }

  .projectsectionlabel {
    padding: 2%;
    width: 20%;
    height: 1.5rem;
    position: absolute;
  }

  .subsectionlabel{
    padding: 2%;
    width: 15%;
    height: 1.5rem;
    position: absolute;
  }

  .researchdata {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    align-self: flex-start;
    height: 30rem;
  }

  .surveydata {
    padding: 10% 4%;
  }

  .surveydata table {
    width: 35rem;
    padding: 0;
  }

  .chart {
    width: 45%;
    margin-top: 5%;
  }

  .chart h1 {
    padding: 0;
    margin: 0;
  }

  canvas {
    width: 30rem;
  }

  .swottable {
    height: 55rem;
    margin-bottom: 4rem
  }

  .swottable h2 {
    font-size: 2.4rem;
  }

  .swottable table {
    width: 85%;
    font-size: 1.4rem;
    margin-left: 10rem;
    padding-bottom: 4rem;
  }

  .swottable table td {
    width: 15rem;
  }

  .swottable table td:first-child,
  .swottable table tr:first-child td {
    font-size: 1.6rem;
  }

  #personas{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
  }

  .personas{
    height: 52rem;
  }

  .userimg {
  width: 42%
  }

  .userinfo{
    width: 50%;
  }

  .userinfo h2{
    font-size: 2rem;
  }
  .userflows {
    height: 37rem;
    width: 100%;
    padding: 0;
  }

  .bytespacesketches{
    height: 46rem;
    width: 100%;
    padding: 0 5%;
  }



}

@media screen and (max-device-width: 812px){
  .sectionlabel, .overlay{
    display: none;
  }

}


@media screen and (min-device-width: 813px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {

  .hero{
    height: 70vh;
  }

  .nav{
    display: flex;
    flex-direction: row;
    justify-content: center space-between;
    align-content: center;
  }

  .nav li{
    width: 31;
    justify-self: center;
    align-self: center;
    padding: .2rem;
  }

 .nav li a {
   font-size: 1.6rem;
   padding: 0;
   width: 100%;

 }

 .nav .menu {
   width: 30%;
   clear: none;
   max-height: none;
   display: flex;
  margin-left: 45%;
   justify-content: space-between;
   align-content: center;
 }


 .nav .menu-icon {
   display: none;
 }

   .nav .logo {
    padding: 1% 7%;
  }

  .logo img {
    padding: 1rem;
    height: auto;
    width: 9rem;
  }

.herotext{
  padding-top: 14%;
}
  article h1 {
    font-size: 6.5rem;
  }

  article p {
    font-size: 2rem;
    padding-right: 5%;
  }

  article strong {
    font-size: 2.1rem;
    font-weight: 600;
  }

  .cmbutton {
      padding: 2% 3%;
      font-size: 1.2rem;
  }

  .sectionlabel {
    background-color: #232323;
    padding: 2.5% 2.5%;
    width: 30%;
    display: block;
    position: relative;
    margin-top: 5%;
  }

  .sectionlabel h1 {
    vertical-align: middle;
    color: #fff;
    font: 2rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .portfolio_works{
    display: flex;
    flex-direction: row;
    margin: 0 5% 5% 5%;
    justify-content: space-between;
  }

  .project{
    margin: 2%;
  }

  .viewcs{
    display: none;
  }


  .text {
    width: 80%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text h3 {
    font: 2.5rem 'Libre Franklin', sans-serif;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 3rem;
    letter-spacing: .2rem;
  }

  .text p {
    font: 1.8rem 'Libre Franklin', sans-serif;
    color: #fff;
    font-weight: 300;
    padding-bottom: 5rem;
  }

  .pbutton {
    background-color: #fff;
    padding: 1.2rem 2rem;
    color: #000;
    font: 1.6rem 'Lato', sans-serif;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  .pbutton:hover {
    background-color: #000;
    color: #fff;
    opacity: 0.8;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }

  .hwoverlay {
    background-color: rgba(62, 104, 197, 0.90);
  }

  .bsoverlay {
    background-color: rgba(0, 118, 90, 0.90);
  }

  .project:hover .overlay {
    opacity: 1;
  }


  .footerlogo{
    padding-right: 50%;
  }

  .footlist li{
    padding: 2rem;
    }

    .footlist li a{
      font-size: 1.6rem;
    }

/*BYTESPACE*/

.color-list {
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.color {
  flex: 0 0 20%;
  /*flex-grow | flex-shrink | flex-basis*/
  box-shadow: 0 0 30px #424242;
  padding: 1em;
  color: white;
  transition: flex-basis 0.5s ease-in-out;
}
.color:hover {
  flex-basis: 40%;
}
.color:hover .details {
  opacity: 1;
}

.name {
  font-size: 1.2em;
}

.details {
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.details li {
  line-height: 2em;
}





/*

  .hero {
    overflow: hidden;
    height: 60vh;
  }

  .nav .logo {
    padding-left: 10%;
    padding-top: 5rem;
  }

  .nav .logo img {
    width: 8rem;
  }

  .menu {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
  }

  .nav li {
    width: 50%;
    padding: 0;
    justify-content: right;
  }

  .nav li a {
    font: 1.8rem;
    font-weight: 400;
    letter-spacing: .2rem;
    border-right: none;
  }

  .nav .menu {
    padding-top: 5rem;
    width: 40%;
    background-color: transparent;
    clear: none;
    float: right;
    max-height: none;
    overflow: hidden;
  }

  .nav .menu-icon {
    display: none;
  }

  .menu li:nth-child(3) {
    display: none;
    width: 25%;
  }

  .herotext {
    padding: 5% 10%;
  }

  h1 {
    font-size: 7rem;
  }

  article p {
    font-size: 2rem;
    width: 85%;
    padding-top: 2vh;
  }

  article p:nth-child(3) {
    padding-bottom: 5vh;
  }

  .sectionlabel {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .portfolio_works {
    width: 100%;
    height: 50vh;
    grid-area: portfolio_works;
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .houndwatch {
    width: 50vw;
    grid-column: 2/3;
    grid-row: 3/4;
    grid-area: portfolio_works;
  }

  .bytespace {
    width: 50vw;
    grid-column: 3/4;
    grid-row: 3/4;
    grid-area: portfolio_works;
  }

  footer {
    width: 100vw;
    height: 10vh;
    grid-column: 1/5;
    grid-row: 4/5;
    padding-top: 2rem;
    border: 1px none #232323;
    border-top: 2px solid #232323;
    border-radius: 0;
  }

  .footerlogo {
    transform: translate(-100%, -50%);
  }

  .footlist {
    padding-bottom: 1rem;
    justify-content: space-around;
  }

  .footlist li {
    width: 20%;
    justify-content: space-around;
  }

  .nav .logo {
    padding-left: 6rem;
  }

  .logo img {
    width: 8rem;
  }

  .project {
    width: 100%;
    height: 100%;
  }

  .houndwatch img {
    height: 60%;
    width: auto;
    overflow: hidden;
  }

  .bytespace img {
    width: 65%;
    height: auto;
    overflow: hidden;
  }

  .sectionlabel {
    background-color: #232323;
    padding: 3rem 2rem;
    width: 70%;
    display: block;
    position: relative;
    margin-top: 3rem;
  }

  .sectionlabel h1 {
    vertical-align: middle;
    color: #fff;
    font: 2rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .portfolio_works {
    width: 100%;
    display: flex;
    justify-content: space-between center;
    margin-top: 3%;
    margin-bottom: 6%;
  }

  .houndwatch, .bytespace {
    width: 100%;
  }

  .viewcs {
    display: none;
  }

  .houndwatch {
    margin-right: 5%;
  }



  footer {
    height: 10vh;
  }

  .fcontainer {
    padding-top: 1rem;
  }

  .footerlogo {
    transform: translate(-175%, -25%);
  }

  .footerlogo img {
    width: 7.5rem;
    height: auto;
  }

  .footlist {
    width: 20%;
    right: 0;
    transform: translateX(105%);
  }

  .footlist a {
    font-size: 1.6rem;
  }

  .menu-btn {
    display: none;
  }

  /*
}

/*
@media screen and (min-device-width: 1200px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 1) {
  .houndwatch img {
    max-height: 70%;
    width: auto;
  }

  .bytespace img {
    max-height: 60%;
    width: auto;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .houndwatch img {
    max-height: 70%;
    width: auto;
  }

  .bytespace img {
    max-height: 70%;
    width: auto;
  }
}
}

/*
  .houndwatch img{
    max-height: 35%;
    max-width: 40%;
    overflow: hidden;
  }


  .nav{
    padding-top: 3rem;
  }

  .menu{
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .nav .menu-icon .navicon {
    width: 5rem;
  }

  .nav li {
    justify-content: right;
  }

  .nav li a {
    width: 14rem;
    justify-content: space-around;
    padding: 3.5rem .5rem;
    font: 1.8rem;
    font-weight: 400;
    letter-spacing: .2rem;
    border-right: none;
  }

.nav  .menu {
    width: 45%;
    background-color: transparent;
    clear: none;
    float: right;
    max-height: none;
    overflow: hidden;
  }

  .nav .menu-icon {
    display: none;
  }


  .logo img {
    width: 8.5rem;
  }

  .navlist a {
    font: 2rem 'Libre Franklin', sans-serif;
    letter-spacing: .15rem;
  }

  article h1 {
    padding-top: 5vh;
    font-size: 10rem;
    font-weight: 900;
  }

 {
    font-size: 2.8rem;
    top: 20%;
    padding-right: 45%;
    line-height: 1.5;
  }

  article p {
    font-size: 2.8rem;
    margin-right: 20%;
    line-height: 1.5;
  }

  .cmbutton {
    padding: 1.8rem 1.8rem;
    font-size: 1.8rem;
    top: 50%;
  }

  .sectionlabel {
    background-color: #000;
    padding: 1.5%;
    height: 5%;
    width: 20%;
    margin-top: 5%;
    position: relative;
  }

  .sectionlabel h1{
    vertical-align: middle;
    color: #fff;
    font: 2rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }


  .portfolio_works {
    width: 100%;
    display: flex;
    justify-content: space-between center;
    padding-top: 5%;
    padding-bottom: 10%;
  }

  .houndwatch {
    margin-right: 5rem;
  }

  .dark {
    display: none;
  }

  .footerlogo {
    padding-left: 1%;
    width: 25vw;
    display: flex;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-90%, 0%);
    -ms-transform: translate(-90%, 0%);
    transform: translate(-90%, 0%);
  }

  .footerlogo img {
    height: 4.5rem;
  }

  .footlist {
    width: 20vw;
    display: flex;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(70%, 50%);
    -ms-transform: translate(70%, 50%);
    transform: translate(70%, 50%);
  }

  .footlist a {
    color: #000;
    font-size: 1.6rem;
  }

  .footer {
    height: 12vh;
    border: 0 none #000;
    border-top: 2px solid #000;
    border-radius: 0;
  }

  .nav, .portfolio_works{
    padding-left: 5%;
    padding-right: 5%;
  }
}

/*
@media (min-width: 1281px) {

  .viewcs {
    display: none;
  }

  .overlay {
    display: display;
  }

  .navlist {
    width: 25%;
    position: absolute;
    top: 15%;
    left: 83%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    display: flex;
  }

  .navlist a {
    font: 1.6rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }


  .hero {
    height: 100vh;
  }

  .logo {
    top: 12%;
  }

  .logo img {
    width: 10rem;
  }

  .herotext {
    top: 35%;
  }

  .hero, .portfolio_works{
    padding-left: 5%;
    padding-right: 5%;
  }

  .herotext h1 {
    font-size: 10rem;
    font-weight: 900;
  }

  .herotext h2 {
    font-size: 2.8rem;
    top: 20%;
    padding-right: 45%;
    line-height: 1.5;
  }

  .herotext p {
    top: 35%;
    font-size: 2.8rem;
    margin-right: 20%;
    line-height: 1.5;
  }

  .cmbutton {
    padding: 1.8rem 1.8rem;
    font-size: 1.8rem;
    top: 50%;
  }

  .sectionlabel {
    background-color: #000;
    padding: 1.5%;
    height: 5%;
    width: 20%;
    margin-top: 5%;
    position: relative;
  }

  .sectionlabel h1{
    vertical-align: middle;
    color: #fff;
    font: 2rem 'Libre Franklin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .portfolio_works {
    width: 100%;
    display: flex;
    justify-content: space-between center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .houndwatch {
    margin-right: 5rem;
  }

  .dark {
    display: none;
  }

  .footerlogo {
    padding-left: 1%;
    width: 25vw;
    display: flex;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-90%, 0%);
    -ms-transform: translate(-90%, 0%);
    transform: translate(-90%, 0%);
  }

  .footerlogo img {
    height: 4.5rem;
  }

  .footlist {
    width: 20vw;
    display: flex;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(70%, 50%);
    -ms-transform: translate(70%, 50%);
    transform: translate(70%, 50%);
  }

  .footlist a {
    color: #000;
    font-size: 1.6rem;
  }

  .footer {
    height: 12vh;
    border: 0 none #000;
    border-top: 2px solid #000;
    border-radius: 0;
  }
}

/*---------About Me---------s

  .herotext_am h1{
    font-size: 6.5rem;
  }

  .aboutmeheader {
    width: 100vw;
    height: 100vh;
  }

  .herotext_am img {
    top: 19%;
    height: 23rem;
    width: 23rem;
  }

  .herotext_am p {
    top: 53%;
  }
}

/*-----------------------CASE STUDY-----------------*/
  /* Smartphones (landscape) -----------
@media only screen and (min-width : 667px) and (min-height: 375px){
  .navlistindex , .navlist {
    display: none;
    }

  .aboutmeheader {
    width: 100vw;
    display: flex;
  }

  .herotext_am h1{
    font-size: 5rem;
    top: 2%;
  }

  .herotext_am img {
    float: left;
    left: 20%;
    top: 33%;
    height: 18rem;
    width: 18rem;
  }

  .herotext_am p {
    top: 22%;
    float: left;
    left: 30%;
    text-align: left;
  }

  /*-----------CASE STUDY-------
  .bytespaceheader {
    width: 100vw;
    height: 80vh;
  }

  .herotextcs h1 {
    font-size: 5.5rem;
    top: 0;
  }

  .herotextcs p {
    width: 100%;
    top: 25%;
    padding: 0;
  }

  .herotextcs > .bytespacecompimg {
  top: 40%;
}

  .bytespacecompimg img {
    height: auto;
    width: 20rem;
  }

  .herotextcs > .pbutton  {
    top: 82%;
  }

  .personas , .userstories , .lowfid_img, .highfid_img, .iterations_img{
    display: inline-flex;
    justify-content: space-around;
  }

  .admin{
    display: none;
  }

  .userflows{
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(5%);
  }

  .userflows img{
    width: 85%;
    align-items: center;
  }

  .lowfid_img img , .highfid_img img , .iterations_img img{
    width: 32%;
  }

  .typeface img{
    width: 85%;
    height: auto;
    padding-left: 20%;
  }
}





/* Smartphones (landscape) -----------
@media only screen and (min-width: 812px) and (min-height: 375px)
{
  .navlistindex , .navlist {
    display: none;
  }

  /*-----------CASE STUDY-------*
  .bytespaceheader {
    width: 100vw;
    height: 80vh;
  }

  .herotextcs h1 {
    font-size: 5.5rem;
    top: 0;
  }

  .herotextcs p {
    width: 100%;
    top: 25%;
    padding: 0;
  }

  .herotextcs > .bytespacecompimg {
  top: 40%;
}

  .bytespacecompimg img {
    height: auto;
    width: 20rem;
  }

  .herotextcs > .pbutton  {
    top: 82%;
  }
}


/*TABLETS*/
  /*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px

@media only screen and (min-width: 768px){

  /*

  /******** Homepage *********
  .hero {
    height: 80vh;
  }

  .herotext {
    width: 100vw;
    height: 100vh;
  }

  .herotext h1 {
    font-size: 6rem;
    top: 10%;
  }

  .herotext h2 {
    font-size: 2.2rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
  }

  .herotext p {
    font-size: 2.2rem;
    padding: 0 3rem;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
  }

  .herotext > .pbutton{
    font-size: 2.3rem;
    top: 43%;
  }

  /*PROJECT SECTION
  .bytespace, .projectname, .projectname2 {
    width: 100vw;
    height: 35vh;
    position: relative;
  }

  .projectdescription img {
    width: 40vw;
    width: 34rem;
    height: auto;
    top: 30%;
    left: 55%;
    transform: translate(-10%, -20%);
    position: absolute;
  }

  .projectdescription h3 {
    width: 50vw;
    font-size: 2.2rem;
    text-align: left;
    top: 25%;
    Left: 15%;
    transform: translate(-17%, -25%);
    position: absolute;
    display: flex;
  }

  .projectdescription p {
    width: 42vw;
    font-size: 1.8rem;
    top: 56%;
    Left: 15%;
    transform: translate(-20%, -50%);
    position: absolute;
  }

  .projects button {
    top: 78%;
    Left: 16%;
    transform: translate(-40%, -30%);
    border-radius: .5rem;
    padding: 1rem 1.8rem;
    font-size: 1.8rem;
    position: absolute;
  }

  /******** Casestudy *********
  .bytespaceheader {
    height: 80vh;
    weight: 100vw;
  }

  .herotextcs h1 {
    top: 8%;
  }

  .herotextcs p {
    top: 25%;
    padding: 0 15rem;
  }

  .bytespacecompimg {
    top: 40%;
  }

  .bytespacecompimg img {
    height: auto;
    width: 38rem;
  }

  .bytespacecompimg {
    padding-bottom: 1rem;
  }

  .pbutton {
    top: 33%;
  }

  .protobutton {
    border-radius: .3rem;
    color: #fff;
    font: 1.4rem ' Lato', sans-serif;
    font-weight: 400;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }

  .role-description {
    padding: 5rem 9rem;
  }

  .role-description h2 {
    font: 1.8rem " Lato", sans-serif;
    font-weight: 500;
    padding-bottom: 2.4rem;
    text-transform: uppercase;
  }

  .role-description p {
    font: 1.6rem "lato", sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    padding-bottom: 4rem;
  }

  .year p {
    padding-bottom: 0;
  }

  .problem-solution, .research, .branding, .conclusion {
    margin: 0rem 9rem 0rem;
  }

  .mainsection {
    padding-top: 6rem;
  }

  .mainsection p {
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 3rem;
  }

  .mainsection h2 {
    font-size: 2rem;
  }

  .mainsection h3 {
    color: #5E5E5E;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 5rem;
    text-transform: uppercase;
  }

  .mainsection img {
    height: auto;
    vertical-align: middle;
    align-items: center;
    width: 100%;
  }

  .highfid_img , .iterations_img, .lowfid_img, .userstories, .personas {
    left: 50%;
    transform: translate(5%);
    width: 70vw;
    display: flex;
    justify-content: space-around;
  }
  .personas img {
    width: 28rem;
    height: 48rem;
  }

  .userstories img {
    width: 28rem;
    height: auto;
  }

  .userstories img:last-child {
    display: none;
  }

  .lowfid_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .lowfid_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .highfid_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .highfid_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .iterations_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .iterations_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .conclusion {
    background-color: #E8F8F4;
    margin: 0;
    padding: 0rem 9rem 0 9rem;
  }

  /******** About Me *********
  .aboutmeheader {
    height:45vh;
    width: 100vw;
  }

  .herotext_am img {
    float: left;
    left: 8%;
    top: 15%;
    height: 28rem;
    width: 26rem;
    transform: translate(0%);
    position: absolute;
  }

  .herotext_am h1 {
    width: 55vw;
    font-size: 6rem;
    padding-bottom: 3rem;
    top: 10%;
    left: 57%;
    transform: translate(-20%, -25%);
    text-align: left;
    position: absolute;
  }

  .herotext_am p {
    padding-bottom: 3rem;
    width: 55vw;
    padding: 0 5rem 0 0;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    right: 10%;
    left: 62%;
    top: 33%;
    transform: translate(-30%, -10%);
    line-height: 3rem;
    position: absolute;
  }

  .orange {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #E98C00;
  }

  .biotext, .questions {
    padding: 5rem;
  }

  .biotext {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .questions h2 {
    font-size: 2.8rem;
  }

  .questions p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .footer {
    height: 20rem;
  }

  .footerlogo{
    padding-top: 2.5rem;
  }

  .footerlogo img {
    height: 5rem;
    width: auto;
  }

  .footerlist {
    padding-top: 2.5rem;
  }

  .footerlist a {
    font-size: 1.6rem;
  }

  .fa-envelope , .fa-linkedin {
  font-size: 4rem;
}

}


@media only screen and (min-width: 667px) and (min-height:882px){
  .menu-wrap, .menu-wrapdark, .toggle-button {
    display: none;
  }

  .aboutmeheader {
    height:40vh;
    width: 100vw;
  }
}

/*
            tablet-landscape

@media only screen and (min-width: 882px) and (min-height: 768px) {
  .menu-wrap, .menu-wrapdark {
    display: none;
  }

  .logo {
    padding: 6rem 4rem;
  }

  .logo img {
    height: auto;
    width: 9rem;
  }

  .navlist, .navlistindex {
    width: 35%;
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-20%, -0%);
    justify-content: space-around;
    display: flex;
  }

  .navlist a {
    font-size: 1.8rem;
  }

  /******** Homepage **********
  .hero {
    height: 80vh;
  }

  .herotext {
    width: 100vw;
    height: 100vh;
  }

  .herotext h1 {
    font-size: 6rem;
    top: 10%;
  }

  .herotext h2 {
    font-size: 2.2rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
  }

  .herotext p {
    font-size: 2.2rem;
    padding: 0 3rem;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
  }

  .herotext > .pbutton{
    font-size: 2.3rem;
    top: 43%;
  }

  /*PROJECT SECTION
  .bytespace, .projectname, .projectname2 {
    width: 100vw;
    height: 35vh;
    position: relative;
  }

  .projectdescription img {
    width: 40vw;
    width: 34rem;
    height: auto;
    top: 30%;
    left: 55%;
    transform: translate(-10%, -20%);
    position: absolute;
  }

  .projectdescription h3 {
    width: 50vw;
    font-size: 2.2rem;
    text-align: left;
    top: 25%;
    Left: 15%;
    transform: translate(-17%, -25%);
    position: absolute;
    display: flex;
  }

  .projectdescription p {
    width: 42vw;
    font-size: 1.8rem;
    top: 56%;
    Left: 15%;
    transform: translate(-20%, -50%);
    position: absolute;
  }

  .projects button {
    top: 78%;
    Left: 16%;
    transform: translate(-40%, -30%);
    border-radius: .5rem;
    padding: 1rem 1.8rem;
    font-size: 1.8rem;
    position: absolute;
  }

  /******** Casestudy *********
  .bytespaceheader {
    height: 80vh;
    weight: 100vw;
  }

  .herotextcs h1 {
    top: 8%;
  }

  .herotextcs p {
    top: 25%;
    padding: 0 15rem;
  }

  .bytespacecompimg {
    top: 40%;
  }

  .bytespacecompimg img {
    height: auto;
    width: 38rem;
  }

  .bytespacecompimg {
    padding-bottom: 1rem;
  }

  .pbutton {
    top: 33%;
  }

  .protobutton {
    border-radius: .3rem;
    color: #fff;
    font: 1.4rem ' Lato', sans-serif;
    font-weight: 400;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }

  .role-description {
    padding: 5rem 9rem;
  }

  .role-description h2 {
    font: 1.8rem " Lato", sans-serif;
    font-weight: 500;
    padding-bottom: 2.4rem;
    text-transform: uppercase;
  }

  .role-description p {
    font: 1.6rem "lato", sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    padding-bottom: 4rem;
  }

  .year p {
    padding-bottom: 0;
  }

  .problem-solution, .research, .branding, .conclusion {
    margin: 0rem 9rem 0rem;
  }

  .mainsection {
    padding-top: 6rem;
  }

  .mainsection p {
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 3rem;
  }

  .mainsection h2 {
    font-size: 2rem;
  }

  .mainsection h3 {
    color: #5E5E5E;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 5rem;
    text-transform: uppercase;
  }

  .mainsection img {
    height: auto;
    vertical-align: middle;
    align-items: center;
    width: 100%;
  }

  .highfid_img , .iterations_img, .lowfid_img, .userstories, .personas {
    left: 50%;
    transform: translate(5%);
    width: 70vw;
    display: flex;
    justify-content: space-around;
  }
  .personas img {
    width: 28rem;
    height: 48rem;
  }

  .userstories img {
    width: 28rem;
    height: auto;
  }

  .userstories img:last-child {
    display: none;
  }

  .lowfid_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .lowfid_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .highfid_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .highfid_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .iterations_img img {
    width: 18rem;
    height: 40rem;
    padding-right: 1rem;
  }

  .iterations_img img:last-child {
    width: 22rem;
    height: 35rem;
  }

  .typeface img{
    padding-left: 10%;
  }

  .conclusion {
    background-color: #E8F8F4;
    margin: 0;
    padding: 0rem 9rem 0 9rem;
  }

  /******** About Me *********
  .aboutmeheader {
    height:45vh;
    width: 100vw;
  }

  .herotext_am img {
    float: left;
    left: 8%;
    top: 15%;
    height: 28rem;
    width: 26rem;
    transform: translate(0%);
    position: absolute;
  }

  .herotext_am h1 {
    width: 55vw;
    font-size: 6rem;
    padding-bottom: 3rem;
    top: 10%;
    left: 57%;
    transform: translate(-20%, -25%);
    text-align: left;
    position: absolute;
  }

  .herotext_am p {
    padding-bottom: 3rem;
    width: 55vw;
    padding: 0 5rem 0 0;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    right: 10%;
    left: 62%;
    top: 33%;
    transform: translate(-30%, -10%);
    line-height: 3rem;
    position: absolute;
  }

  .orange {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #E98C00;
  }

  .biotext, .questions {
    padding: 5rem;
  }

  .biotext {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .questions h2 {
    font-size: 2.8rem;
  }

  .questions p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .footer {
    height: 20rem;
  }

  .footerlogo{
    padding-top: 2.5rem;
  }

  .footerlogo img {
    height: 5rem;
    width: auto;
  }

  .footerlist {
    padding-top: 2.5rem;
  }

  .footerlist a {
    font-size: 1.6rem;
  }

  .fa-envelope , .fa-linkedin {
  font-size: 4rem;
  }
}


/*
            Device = Desktops


@media only screen and (min-width: 1224px){
  .menu-wrap, .menu-wrapdark {
    display: none;
  }

  .logo {
    padding: 7rem 5rem;
  }

  .logo img {
    height: auto;
    width: 10rem;
  }

  .navlist, .navlistindex {
    width: 35%;
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-20%, -0%);
    justify-content: space-around;
    display: flex;
  }

  .navlist a {
    font-size: 1.8rem;
  }

  /******** Homepage *********
  .herotext {
    width: 100vw;
  }

  .herotext h1 {
    font-size: 9rem;
    top: 5%;
  }

  .herotext h2 {
    font-size: 2.8rem;
    top: 25%;
    text-shadow: 0 0 15px black;
    left:50%;
    transform: translate(-50%);
  }

  .herotext p {
    font-size: 2.5rem;
    padding: 0 3rem;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
  }

  .pbutton{
    font-size: 2.3rem;
    top: 43%;
  }

  /*PROJECT SECTION*
  .bytespace, .projectname, .projectname2 {
    width: 100vw;
    height: 40vh;
    position: relative;
  }

  .projectdescription img {
    width: 40rem;
    height: auto;
    top: 30%;
    left: 65%;
    transform: translate(-10%, -20%);
    position: absolute;
  }

  .projectdescription h3 {
    width: 50vw;
    font-size: 2.6rem;
    text-align: left;
    top: 25%;
    Left: 20%;
    transform: translate(-17%, -25%);
    position: absolute;
    display: flex;
  }

  .projectdescription p {
    width: 42vw;
    font-size: 2rem;
    top: 53%;
    Left: 20%;
    transform: translate(-20%, -50%);
    position: absolute;
  }

  .projects button{
    top: 78%;
    Left: 16%;
    transform: translate(-40%,0);
    border-radius: .5rem;
    padding: 1rem 1.8rem;
    font-size: 1.8rem;
    position: absolute;
  }

  .footerlogo img {
    opacity: 0.5;
  }

  .bytespaceheader {
    height: 80vh;
    weight: 100vw;
  }

  .herotextcs h1{
    top: 5%;
    font-size: 9rem;
  }

  .herotextcs p {
    font-size: 2.5rem;
    top: 30%;
    padding: 0 15rem;
  }

  .herotextcs > .bytespacecompimg  {
    top: 45%;
  }

  .bytespacecompimg img {
    height: auto;
    width: 38rem;
  }

  .bytespacecompimg {
    padding-bottom: 1rem;
  }

  .pbutton {
    top: 33%;
  }

  .protobutton {
    border-radius: .3rem;
    color: #fff;
    font: 1.4rem ' Lato', sans-serif;
    font-weight: 400;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }

  .role-description {
    padding: 8rem 18rem;
  }

  .role-description h2 {
    font: 2.2rem " Lato", sans-serif;
    font-weight: 500;
    padding-bottom: 2.4rem;
    text-transform: uppercase;
  }

  .role-description p {
    font: 1.8rem "lato", sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    padding-bottom: 4rem;
  }

  .year p {
    padding-bottom: 0;
  }

  .problem-solution, .research, .branding, .conclusion {
    margin: 0rem 18rem 0rem;
  }

  .mainsection {
    padding-top: 8rem;
  }

  .mainsection p {
    line-height: 3rem;
    font-size: 1.8rem;
    font-weight: 400;
    padding-top: 3rem;
  }

  .mainsection h2 {
    font-size: 2.2rem;
  }

  .mainsection h3 {
    color: #5E5E5E;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 5rem;
    text-transform: uppercase;
  }

  .mainsection img {
    height: auto;
    vertical-align: middle;
    align-items: center;
    width: 80%;
    padding-bottom: 5rem;
  }

  .highfid_img , .iterations_img, .lowfid_img, .userstories, .personas, {
    left: 50%;
    transform: translate(0%);
    width: 75vw;
    display: flex;
    justify-content: space-around;
  }

  .researchdata img{
    left: 50%;
    transform: translate(25%);
    width: 65%;
    height: auto;
  }

  .researchdata img:nth-child(1) {
    padding: 10rem;
  }

  .userflows img{
    left: 50%;
    transform: translate(15%);
    width: 65%;
    height: auto;
  }

  .userflows img:nth-child(1) {
    padding: 5rem;
    width: 60%;
    height: auto;
  }

  .sketches img{
    left: 50%;
    transform: translate(8%);
    width: 85%;
    height: auto;
  }

  .personas img {
    width: 40rem;
    height: 65rem;
  }

  .userstories img {
    width: 40rem;
    height: auto;
  }

  .userstories img:last-child {
    display: none;
  }

  .lowfid_img img {
    width: 30rem;
    height: 65rem;
    padding-right: 1rem;
  }

  .lowfid_img img:last-child {
    width: 30rem;
    height: 45rem;
  }

  .highfid_img img {
    width: 30rem;
    height: 65rem;
    padding-right: 1rem;
  }

  .highfid_img img:last-child {
    width: 30rem;
    height: 45rem;
  }

  .iterations_img img {
    width: 30rem;
    height: 65rem;
    padding-right: 1rem;
  }

  .iterations_img img:last-child {
    width: 30rem;
    height: 45rem;
  }

  .typeface img {
    align-items: center;
    left: 50%;
    transform: translate(35%);
    width: 70rem;
    height: auto;
  }

  .colors img {
    align-items: center;
    left: 50%;
    transform: translate(45%);
    width: 70rem;
    height: auto;
  }

  .conclusion {
    background-color: #E8F8F4;
    margin: 0;
    padding: 0rem 9rem 0 9rem;
  }

  /******** About Me *********
  .aboutmeheader {
    height:55vh;
    width: 100vw;
  }

  .herotext_am img {
    float: left;
    left: 12%;
    top: 25%;
    height: 30rem;
    width: 30rem;
    transform: translate(0%);
    position: absolute;
  }

  .herotext_am h1 {
    width: 55vw;
    font-size: 7.5rem;
    padding-bottom: 3rem;
    top: 15%;
    left: 53%;
    transform: translate(-20%, -25%);
    text-align: left;
    position: absolute;
  }

  .herotext_am p {
    padding-bottom: 3rem;
    width: 55vw;
    padding: 0 5rem 0 0;
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    width: 50vw;
    left: 58%;
    top: 40%;
    transform: translate(-30%, -10%);
    line-height: 3rem;
    position: absolute;
  }

  .orange {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #E98C00;
  }

  .biotext, .questions {
    padding: 8rem 12rem;
  }

  .biotext {
    height: 35vh;
    font-size: 1.8rem;
    line-height: 3.5rem;
  }

  .questions h2 {
    font-size: 2.8rem;
    padding-bottom: 4rem;
  }

  .questions p {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .footer {
    height: 25rem;
  }

  .footerlogo{
    padding-top: 3.5rem;
  }

  .footerlogo img {
    height: 6rem;
    width: auto;
  }

  .footerlist {
    padding-top:4rem;
  }

  .footerlist a {
    font-size: 1.6rem;
  }

  .fa-envelope , .fa-linkedin {
  font-size: 5rem;
}

}
