* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

/*----------HERO--------------*/
.hero {
  background: linear-gradient(0deg, rgba(0, 36, 77, 0.4), rgba(0, 36, 77, 0.8)), url("../images/Desktop/hero.png") no-repeat center;
  background-size: cover;
  background-color: #004CA4;
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.logo img {
  height: auto;
  width: 7rem;
}

.logo {
  padding: 1.6rem;
}

.header {
  align-items: center;
  display: flex;
  font-family: 'Rubik', sans-serif;
  position: relative;
  width: 100vw;
}

li{
  list-style: none;
}

.navlist , .navlistindex{
  width: 40%;
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -0%);
  justify-content: space-around;
  display: flex;
}

.navlist a{
  color: #000;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navlistindex a{
  color: #FFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

#notactive{
  color: #5E5E5E;
}

.burger, .burgerDark {
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}

.burger div {
  background-color: #fff;
  cursor: pointer;
  height: .3rem;
  margin: .5rem;
  width: 2.5rem;
}

.HeroText {
  align-items: center;
  left: 50%;
  position: relative;
  text-align: center;
  transform: translate(-50%, 0%);
  width: 100vw;
  height: 100vh;
  }

.HeroText h1 {
  font-size: 5rem;
  letter-spacing: 0.2em;
  font-family: 'Lobster', cursive;
  color: #FFFFFF;
  top: 25%;
  position: relative;
  transform: translate(-50%, -50%);
}

.HeroText h2 {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0 4rem;
  top: 35%;
  transform: translate(0%, -50%);
  position: relative;
}

.HeroText p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  width: 70vw;
  left: 50%;
  top: 58%;
  padding: 0 -3rem;
  transform: translate(-50%, -50%);
  position: absolute;
}

.HeroText a {
  color: #FF8C4D;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  top: 75%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/*----------PROJECT SECTION--------------*/
.Projects {
  position: relative;
  width: 100vw;
}

.ByteSpace, .ProjectName, .ProjectName2 {
  padding: 4rem 2.8rem 5rem 4.6rem;
}

.ByteSpace {
  background-color: #E8F8F4;
}

.projectdescription p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 7rem;
}

.projectdescription img {
  align-items: center;
  height: auto;
  left: 40%;
  position: relative;
  top: 50%;
  transform: translate(-45%, 0%);
  width: 30rem;
  padding-bottom: 2rem;
}

.projectdescription h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 2.2rem;
}

button {
  align-items: center;
  background-color: #E98C00;
  border: none;
  border-radius: .3rem;
  bottom-margin: 5rem;
  color: #fff;
  display: inline-block;
  font: 1.6rem 'Rubik', sans-serif;
  font-weight: 500;
  left: 50%;
  padding: 1.1rem 2rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ProjectName {
  background: #fff;
}

.ProjectName2 {
  background: #E8F8F4;
}

/*----------FOOTER--------------*/
.Footer {
  background-color: #174351;
  height: 16rem;
  position: relative;
  width: 100vw;
}

.fcontainer {
  align-items: center;
  left: 50%;
  position: relative;
  text-align: center;
  top: 45%;
  transform: translate(-50%, -45%);
}

.footerlogo img {
  height: 6rem;
  width: auto;
}

.footerlist {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  width: 100%;
}

.footerlist li {
  list-style: none;
}

.footerlist a {
  color: #fff;
  font: 1.4rem 'Rubik', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/*****************CASE STUDY*************/
.navlist {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  width: 100vw;
}

.burgerDark div {
  background-color: #000;
  cursor: pointer;
  height: .3rem;
  margin: .5rem;
  width: 2.5rem;
}

.bytespaceheader{
  width: 100vw;
  height: 75vh;
}

.HeroTextCS {
  width: 100vw;
  height: 100vh;
  left: 50%;
  text-align: center;
  align-items: center;
  transform: translate(-50%, 0%);
  position: relative;
}

.HeroTextCS h1 {
  color: #00765A;
  font-family: 'Lobster', cursive;
  font-size: 4.5rem;
  letter-spacing: 0.1em;
  left: 50%;
  top: 8%;
  position: absolute;
  transform: translate(-50%, 0%);
}

.HeroTextCS p {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  top: 28%;
  position: relative;
  transform: translate(0%, -50%);
  padding: 0 4rem;
}

.bytespacecompimg {
  top: 40%;
  position: relative;
  transform: translate(0%, -50%);
}

.bytespacecompimg img {
  height: auto;
  width: 30rem;
}
.pbutton{
  top: 35%;
  position: relative;
  transform: translate(0%, -50%);
}

.HeroTextCS a{
  text-decoration: none;
}

.protobutton {
  align-items: center;
  background-color: #E98C00;
  border: none;
  border-radius: .3rem;
  color: #fff;
  font: 1.2rem 'Rubik', sans-serif;
  font-weight: 400;
  padding: .7rem 1.5rem;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

.role-description {
  background-color: #E8F8F4;
  padding: 5rem 3rem 5rem 4.5rem;
}

.role-description h2 {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}

.role-description p {
  font-family: "lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .1rem;
  padding-bottom: 4rem;
}

.Year p {
  padding-bottom: 0;
}

.Problem-Solution, .Research, .Branding, .Conclusion {
  margin: 0rem 3.3rem 0rem;
}

.mainsection {
  padding-top: 8rem;
}

.sectionline {
  align-items: center;
  background-color: #E98C00;
  display: inline-flex;
  height: .3rem;
  vertical-align: middle;
  width: 100%;
}

.sectionline h2, h3 {
  background: #FFF;
  padding-right: 1rem;
}

.mainsection p {
  font-family: 'Lato', sans-serif;
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 3rem;
}

.mainsection h2 {
  color: #E98C00;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.mainsection h3 {
  color: #5E5E5E;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 5rem;
  text-transform: uppercase;
}

.mainsection img {
  height: auto;
  padding-top: 4rem;
  width: 100%;
}

.colors{
  padding-bottom: 8rem;
}

.Conclusion{
  background-color: #E8F8F4;
  margin: 0;
  padding: 0rem 3.3rem 0rem;
}

.Conclusion .sectionline h2{
  background: #E8F8F4;
  color: #000;
  padding-right: 1rem;
}

.Conclusion .sectionline {
  align-items: center;
  background-color: #000;
  display: inline-flex;
  height: .3rem;
  vertical-align: middle;
  width: 100%;
}

.Conclusion p {
  line-height: 2.4rem;
  padding-bottom: 8rem;
}


/*****************About Me*************/
.aboutmeheader{
  width: 100vw;
  height: 100vh;
  left: 50%;
  text-align: center;
  align-items: center;
  transform: translate(-50%, 0%);
  position: relative;
}

.HeroTextAM h1{
  color: #00765A;
  font-family: 'Lobster', cursive;
  font-size: 4.1rem;
  letter-spacing: 0.1em;
  left: 50%;
  top: 7%;
  transform: translate(-50%, 0%);
  position: absolute;
}

.HeroTextAM img{
  border-radius:60%;
  height: 29rem;
  width: 28rem;
  top: 60%;
  transform: translate(0%, 60%);
  positiong: relative;
}

.HeroTextAM p{
  font-family: 'Lato', sans-serif;
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  Padding: 3rem 4rem;
  text-align: center;
  top: 65%;
  transform: translate(0%, 60%);
  positiong: relative;
}

.orange {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #E98C00;
}

.bio , .questions{
  padding: 4.5rem;
  width: 100vw;
}

.bio{
  background-color: #E8F8F4;
  font-family: 'Lato', sans-serif;
  line-height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.questions h2{
  color: #E98C00;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.questions p{
  font-family: 'Lato', sans-serif;
  line-height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 5rem;
}


/******Media Queries*******/

/*MOBILE*/

@media screen and (max-width: 374px) and (max-height: 811px){
  .burger, .burgerDark{
    display:none;
  }

}

@media screen and (max-height: 811px){

  /*About ME*/
  .HeroTextAM h1{
    font-size: 4rem;
    left: 50%;
    top: 7%;
    transform: translate(-50%, 10%);
    position: absolute;
  }

  .HeroTextAM img{
    border-radius:60%;
    height: 25rem;
    width: 25rem;
    top: 40%;
    transform: translate(0%, 50%);
    positiong: relative;
  }

  .HeroTextAM p{
    font-family: 'Lato', sans-serif;
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    Padding: 3rem 3.5rem;
    text-align: center;
    top: 65%;
    transform: translate(0%, 45%);
    positiong: relative;
  }

/*-----------CASE STUDY-------*/

  .bytespaceheader{
    width: 100vw;
    height: 80vh;
  }

  .HeroTextCS {
    width: 100vw;
    height: 100vh;
    left: 50%;
    text-align: center;
    align-items: center;
    transform: translate(-50%, 0%);
    position: relative;
  }

  .HeroTextCS h1 {
    color: #00765A;
    font-family: 'Lobster', cursive;
    font-size: 4.5rem;
    letter-spacing: 0.1em;
    left: 50%;
    top: 7%;
    position: absolute;
    transform: translate(-50%, 0%);
  }

  .HeroTextCS p {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    top: 28%;
    position: relative;
    transform: translate(0%, -50%);
    padding: 0 4rem;
  }

  .bytespacecompimg {
    top: 40%;
    position: relative;
    transform: translate(0%, -50%);
  }

  .bytespacecompimg img {
    height: auto;
    width: 30rem;
  }
  .pbutton{
    top: 35%;
    position: relative;
    transform: translate(0%, -50%);
  }
}

@media screen and (min-width: 375px) {
  .navlist , .navlistindex {
    display: none;
  }

}


/*TABLETS*/
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) {

  .burger , .burgerDark{
    display:none;
  }

  .logo{
    padding: 4rem;
  }

  .logo img{
    height: auto;
    width: 9rem;
  }

  .navlist, .navlistindex{
    width: 40%;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-20%, -0%);
    justify-content: space-around;
    display: flex;
  }

  .navlist a{
    font-size: 1.8rem;
  }
/******** Homepage **********/
  .hero{
    height: 80vh;
  }

  .HeroText{
    width: 100vw;
    height: 100vh;
  }

  .HeroText h1{
    font-size: 6rem;
    top: 10%;
  }

  .HeroText h2{
    font-size: 2.2rem;
    top: 15%;
  }

  .HeroText p{
    font-size: 2.2rem;
    padding: 0 3rem;
    top: 37%;
  }

  .HeroText a{
    font-size: 2.3rem;
    top: 50%;
  }

  /*PROJECT SECTION*/

  .ByteSpace , .ProjectName, .ProjectName2{
    width: 100vw;
    height: 35vh;
    position: relative;
  }

  .projectdescription img{
    width: 40vw;
    width: 34rem;
    height: auto;
    top: 30%;
    left: 60%;
    transform: translate(-10%, -20%);
    position: absolute;
  }

  .projectdescription h1{
    width: 50vw;
    font-size: 2.2rem;
    text-align: left;
    top: 25%;
    Left: 15%;
    transform: translate(-17%,-25%);
    position: absolute;
    display: flex;
  }

  .projectdescription p{
    width: 42vw;
    font-size: 1.8rem;
    top: 60%;
    Left: 15%;
    transform: translate(-20%, -50%);
    position: absolute;
  }

  .Projects button{
    top: 75%;
    Left: 16%;
    transform: translate(-40%, -30%);
    border-radius: .5rem;
    padding: 1rem 1.8rem;
    font-size: 1.8rem;
    position: absolute;
  }

/******** Casestudy **********/

  .bytespaceheader {
    height: 85vh;
    weight: 100vw;
    }

    .HeroTextCS h1{
      top: 10%;
    }

  .HeroTextCS p{
    top: 20%;
    padding: 0 15rem;
  }
  .bytespacecompimg {
    top: 40%;
  }

  .bytespacecompimg img {
    height: auto;
    width: 38rem;
  }

  .bytespacecompimg {
    padding-bottom: 1rem;
  }

  .pbutton{
    top: 27%;
  }

  .protobutton {
    border-radius: .3rem;
    color: #fff;
    font: 1.4rem 'Rubik', sans-serif;
    font-weight: 400;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }
  .role-description {
    padding: 5rem 9rem;
  }

  .role-description h2 {
    font-family: "Rubik", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 2.4rem;
    text-transform: uppercase;
  }

  .role-description p {
    font-family: "lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    padding-bottom: 4rem;
  }

  .Year p {
    padding-bottom: 0;
  }

  .Problem-Solution, .Research, .Branding, .Conclusion {
    margin: 0rem 9rem 0rem;
  }

  .mainsection {
    padding-top: 6rem;
  }

  .mainsection p {
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 3rem;
  }

  .mainsection h2 {
    font-size: 2rem;
  }

  .mainsection h3 {
    color: #5E5E5E;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 5rem;
    text-transform: uppercase;
  }

  .mainsection img {
    height: auto;
    padding-top: 6rem;
    width:70vw;
    left: 20%;
    transform: translate(10%);
  }

  .personas{
    left: 10%;
    transform: translate(-5%);
    width: 80vw;
    display: flex;
    justify-content: space-around;
  }

  .personas img{
    width: 30rem;
    height: 50rem;
  }

  .userstories {
    width: 80vw;
    left: 20%;
    transform: translate(-5%);
    display: flex;
    justify-content: space-around;
  }

  .userstories img{
    width: 30rem;
    height: auto;
  }

  .userstories img:last-child{
    display: none;
  }

  .lowfid_img{
    left: 10%;
    transform: translate(-4%);
    width: 80vw;
    display: flex;
    justify-content: space-around;
  }

  .lowfid_img img{
    width: 20rem;
    height: 60rem;
  }
  .lowfid_img  img:last-child{
    width: 27rem;
    height: 50rem;
  }

  .Highfid_img{
    left: 10%;
    transform: translate(-4%);
    width: 80vw;
    display: flex;
    justify-content: space-around;
  }

  .Highfid_img img{
    width: 20rem;
    height: 60rem;
  }
  .Highfid_img  img:last-child{
    width: 27rem;
    height: 50rem;
  }

.Conclusion{
    background-color: #E8F8F4;
    margin: 0;
    padding: 0rem 9rem  0 9rem;
  }

  .Conclusion .sectionline h2{
    background: #E8F8F4;
    color: #000;
    padding-right: 1rem;
  }


/******** About Me **********/

  .aboutmeheader{
    height: 60vh;
    width: 100vw;
  }

  .HeroTextAM img{
    float:left;
    left: 15%;
    top: 35%;
    height: 28rem;
    width: 26rem;
    transform: translate(-28%,-25%);
    position: absolute;
  }

  .HeroTextAM h1 {
    width: 55vw;
    font-size: 7rem;
    padding-bottom: 3rem;
    top: 20%;
    left: 55%;
    transform: translate(-20%,-25%);
    text-align: left;
    position: absolute;
  }

  .HeroTextAM p{
    padding-bottom: 3rem;
    width: 55vw;
    padding: 0 5rem 0 0;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: left;
    left: 60%;
    top: 35%;
    transform: translate( -30%,-10%);
    line-height: 3rem;
    position: absolute;
  }

  .orange {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #E98C00;
  }

  .bio , .questions{
    padding: 5rem;
  }

  .bio{
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .questions h2{
    font-size: 2.8rem;
  }

  .questions p{
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .Footer{
    height: 18rem;
  }

  .footerlogo img{
    height: 6rem;
    width: auto;
  }

  .footerlist{
    padding-top: 4rem;
  }

  .footerlist a{
    font-size: 1.6rem;
  }

}

/*
            Device = Desktops
*/

@media screen and (min-width: 1224px) {


    .burger , .burgerDark{
      display:none;
    }

    .logo{
      padding: 5rem 8rem;
    }

    .logo img{
      height: auto;
      width: 12rem;
    }

    .navlist, .navlistindex{
      width: 50%;
      position: absolute;
      left: 60%;
      top: 50%;
      transform: translate(-20%, -0%);
      justify-content: space-around;
      display: flex;
    }

    .navlist a{
      font-size: 2.4rem;
    }

    /******** Homepage **********/
    .hero{
      height: 80vh;
    }

    .HeroText{
      width: 100vw;
      height: 100vh;
    }

    .HeroText h1{
      font-size: 8rem;
      top: 8%;
    }

    .HeroText h2{
      font-size: 2.2rem;
      top: 12%;
    }

    .HeroText p{
      font-size: 2.2rem;
      padding: 0 3rem;
      top: 35%;
    }

    .HeroText a{
      font-size: 2.3rem;
      top: 45%;
    }

    /*PROJECT SECTION*/

    .ByteSpace , .ProjectName, .ProjectName2{
      width: 100vw;
      height: 45vh;
      position: relative;
    }

    .projectdescription img{
      width: 40vw;
      width: 50rem;
      height: auto;
      top: 50%;
      left: 60%;
      transform: translate(-10%, 0%);
      position: relative;
    }

    .projectdescription h1{
      width: 50vw;
      font-size: 3.5rem;
      text-align: left;
      top: 25%;
      Left: 15%;
      transform: translate(-19%,-25%);
      position: absolute;
      display: flex;
    }

    .projectdescription p{
      width: 47vw;
      font-size: 2.6rem;
      top: 60%;
      Left: 15%;
      transform: translate(-20%, -70%);
      position: absolute;
      padding-bottom: 1rem;
    }

    .Projects button{
      top: 85%;
      Left: 15%;
      transform: translate(-50%, -60%);
      border-radius: .5rem;
      padding: 1.6rem 3rem;
      font-size: 1.8rem;
      position: absolute;
    }

    /**********CASE STUDY***********/

      .bytespaceheader {
        height: 100vh;
        width: 100vw;
        }

      .HeroTextCS h1{
        font-size: 7.5rem;
        top: 15%;
      }

      .HeroTextCS p{
        padding: 0rem 15rem;
        font-size: 2.8rem;
        top: 30%;
      }

      .bytespacecompimg img {
        height: auto;
        width: 42rem;
      }

      .bytespacecompimg {
        top: 50%;
      }

      .pbutton{
        top: 40%;
      }

      .protobutton {
        border-radius: .3rem;
        color: #fff;
        font: 1.5rem 'Rubik', sans-serif;
        font-weight: 400;
        padding: 1rem 2rem;
        position: relative;
        text-transform: uppercase;
        text-align: center;
      }
      .role-description {
        padding: 5rem 13rem;
      }

      .role-description h2 {
        font-family: "Rubik", sans-serif;
        font-size: 2.4rem;
        font-weight: 500;
        padding-bottom: 2.4rem;
        text-transform: uppercase;
      }

      .role-description p {
        font-family: "lato", sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: .1rem;
        padding-bottom: 4rem;
      }

      .Year p {
        padding-bottom: 0;
      }

      .Problem-Solution, .Research, .Branding, .Conclusion {
        margin: 0rem 13rem 0rem;
      }

      .mainsection {
        padding-top: 8rem;
      }

      .mainsection p {
        line-height: 3rem;
        font-size: 1.8rem;
        font-weight: 400;
        padding-top: 3rem;
      }

      .mainsection h2 {
        font-size: 2.4rem;
      }

      .mainsection h3 {
        color: #5E5E5E;
        font-family: 'Lato', sans-serif;
        font-size: 1.8rem;
        font-weight: 500;
        padding-top: 5rem;
        text-transform: uppercase;
      }

      .mainsection img {
        height: auto;
        padding-top: 6rem;
        width:65vw;
        left: 20%;
        transform: translate(10%);
      }

      .personas{
        left: 10%;
        transform: translate(-5%);
        width: 80vw;
        display: flex;
        justify-content: space-around;
        padding-bottom: 3rem;
      }

      .personas img{
        width: 45rem;
        height: 70rem;
      }

      .userstories {
        width: 60vw;
        left: 40%;
        transform: translate(10%);
        display: flex;
        justify-content: space-around;
        padding-bottom: 3rem;
      }

      .userstories img{
        width: 30rem;
        height: auto;
      }

      .userstories img:last-child{
        display: none;
      }

      .lowfid_img{
        left: 10%;
        transform: translate(-3%);
        width: 80vw;
        display: flex;
        justify-content: space-around;
        padding-bottom: 3rem;
      }

      .lowfid_img img{
        width: 30rem;
        height: 70rem;
      }
      .lowfid_img  img:last-child{
        width: 32rem;
        height: 50rem;
      }

      .Highfid_img{
        left: 10%;
        transform: translate(-3%);
        width: 80vw;
        display: flex;
        justify-content: space-around;
        padding-bottom: 3rem;
      }

      .Highfid_img img{
        width: 30rem;
        height: 70rem;
      }
      .Highfid_img  img:last-child{
        width: 30rem;
        height: 50rem;
      }

    .Conclusion{
        background-color: #E8F8F4;
        margin: 0;
        padding: 0rem 13rem  0 13rem;
      }

      .Conclusion .sectionline h2{
        background: #E8F8F4;
        color: #000;
        padding-right: 1rem;
      }

    /******** About Me **********/
      .aboutmeheader{
        height: 70vh;
        width: 100vw;
      }

        .HeroTextAM img{
          left: 20%;
          top: 40%;
          height: 32rem;
          width: 33rem;
          transform: translate(-30%,-10%);
          position: absolute;
        }

        .HeroTextAM h1 {
          width: 55vw;
          font-size: 8rem;
          padding-bottom: 3rem;
          top: 35%;
          left: 55%;
          transform: translate(-20%,-20%);
          text-align: left;
          position: absolute;
        }

        .HeroTextAM p{
          padding: 0 5rem 0 0;
          font-size: 2.2rem;
          font-weight: 400;
          text-align: left;
          left: 60%;
          top: 55%;
          transform: translate( -30%,-10%);
          line-height: 3rem;
          position: absolute;
        }

    .orange {
      font-family: 'Lato', sans-serif;
      font-size: 2.4rem;
      font-weight: 700;
      color: #E98C00;
    }

    .bio , .questions{
      padding: 8rem 12rem;
    }

    .bio{
      font-size: 2.4rem;
      line-height: 4rem;
    }

    .questions h2{
      font-size: 3.5rem;
      padding-bottom: 3rem;
    }

    .questions p{
      font-size: 2.4rem;
      line-height: 3.8rem;
      padding-bottom: 7rem;
    }

    .Footer{
      height: 26rem;
    }

    .footerlogo img{
      height: 6.5rem;
      width: auto;
    }

    .footerlist{
      padding-top: 8rem;
    }

    .footerlist a{
      font-size: 1.8rem;
    }


}
